@import url("elements.css");
/* line 4, ../sass/aboutus.scss */
.regular_content_block .h {
  line-height: 2;
}

/* line 11, ../sass/aboutus.scss */
.aboutus_headline_block .h img {
  display: inline-block;
  vertical-align: middle;
}

/* line 20, ../sass/aboutus.scss */
.aboutus_headnav_block .ahb_nav_hold ul {
  display: inline-block;
  margin-bottom: -3px;
}
/* line 23, ../sass/aboutus.scss */
.aboutus_headnav_block .ahb_nav_hold ul li {
  float: left;
  margin-right: 48px;
}
/* line 26, ../sass/aboutus.scss */
.aboutus_headnav_block .ahb_nav_hold ul li a {
  font-size: 16px;
  height: 45px;
  display: block;
  padding-bottom: 23px;
}
/* line 32, ../sass/aboutus.scss */
.aboutus_headnav_block .ahb_nav_hold ul li a:hover, .aboutus_headnav_block .ahb_nav_hold ul li a.active {
  color: #48ad42;
  border-bottom: solid 2px #48ad42;
}
/* line 37, ../sass/aboutus.scss */
.aboutus_headnav_block .ahb_nav_hold ul li:last-child {
  margin-right: 0px;
}
/* line 43, ../sass/aboutus.scss */
.aboutus_headnav_block .aboutus_headnav_img_hold img {
  display: block;
}

/* line 50, ../sass/aboutus.scss */
.about_us_content_line .basic_txt {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
}
/* line 55, ../sass/aboutus.scss */
.about_us_content_line .auc_headline {
  font-size: 32px;
  color: #222222;
}
/* line 60, ../sass/aboutus.scss */
.about_us_content_line .auc_reg_txt_block p {
  margin-top: 40px;
}
/* line 64, ../sass/aboutus.scss */
.about_us_content_line .auc_txt_block_wrap.rect_middle {
  width: 780px;
  margin: 0 auto;
}
/* line 68, ../sass/aboutus.scss */
.about_us_content_line .basic_pic_holder {
  margin-top: 80px;
}
/* line 70, ../sass/aboutus.scss */
.about_us_content_line .basic_pic_holder img {
  display: block;
  width: 100%;
}
/* line 75, ../sass/aboutus.scss */
.about_us_content_line .auc_bc_txt_block {
  height: 1141px;
  background-image: url("../images/aboutus_values_back.jpg");
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  margin-top: 90px;
}
/* line 83, ../sass/aboutus.scss */
.about_us_content_line .auc_bc_txt_block .abtb_inside {
  width: 470px;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-right: 50px;
}
/* line 88, ../sass/aboutus.scss */
.about_us_content_line .auc_bc_txt_block .abtb_inside .bl_hl {
  color: #6bc0c0;
  font-size: 36px;
}
/* line 92, ../sass/aboutus.scss */
.about_us_content_line .auc_bc_txt_block .abtb_inside .abtb_sub_block {
  margin-top: 40px;
}
/* line 94, ../sass/aboutus.scss */
.about_us_content_line .auc_bc_txt_block .abtb_inside .abtb_sub_block .abtb_sb_h {
  font-size: 18px;
  color: #222222;
  margin-bottom: 15px;
}
/* line 99, ../sass/aboutus.scss */
.about_us_content_line .auc_bc_txt_block .abtb_inside .abtb_sub_block .abtb_sb_r {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6;
}

/* line 108, ../sass/aboutus.scss */
.about_us_content_line.p_top {
  padding-top: 80px;
}

/* line 111, ../sass/aboutus.scss */
.about_us_content_line.p_bottom {
  padding-bottom: 80px;
}

/* line 115, ../sass/aboutus.scss */
.aboutus_map_block {
  position: relative;
}
/* line 117, ../sass/aboutus.scss */
.aboutus_map_block .amb_textline {
  position: absolute;
  z-index: 20;
  width: 960px;
  left: 200px;
  left: -webkit-calc(50% - 480px);
  left: -moz-calc(50% - 480px);
  left: calc(50% - 480px);
  bottom: 20px;
}
/* line 126, ../sass/aboutus.scss */
.aboutus_map_block .amb_textline p {
  font-weight: 200;
}
/* line 129, ../sass/aboutus.scss */
.aboutus_map_block .amb_textline p:first-child {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 134, ../sass/aboutus.scss */
.aboutus_map_block .amb_textline p:last-child {
  color: #d5d5d5;
  font-size: 16px;
}
/* line 139, ../sass/aboutus.scss */
.aboutus_map_block .amb_bottom_overlay {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 250px;
  left: 0px;
  bottom: 0px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
}
/* line 154, ../sass/aboutus.scss */
.aboutus_map_block .aboutus_map_img_hold {
  width: 100%;
  height: 550px;
}

/* line 161, ../sass/aboutus.scss */
.start_trial_section .start_trial_form_wrap {
  margin-top: 43px;
}
/* line 163, ../sass/aboutus.scss */
.start_trial_section .start_trial_form_wrap input[type='text'], .start_trial_section .start_trial_form_wrap input[type='email'], .start_trial_section .start_trial_form_wrap input[type='password'] {
  margin-right: 20px;
}
/* line 166, ../sass/aboutus.scss */
.start_trial_section .start_trial_form_wrap .cnt {
  margin-top: 43px;
}
/* line 168, ../sass/aboutus.scss */
.start_trial_section .start_trial_form_wrap .cnt button {
  color: #fff;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 175, ../sass/aboutus.scss */
.start_trial_section .start_trial_form_wrap .cnt button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}

/* line 188, ../sass/aboutus.scss */
.tabs_system_section {
  display: none;
}

/* line 191, ../sass/aboutus.scss */
.tabs_system_section.active {
  display: block;
}

/* line 196, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page > .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 200, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .hl {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 205, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .ds {
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 200;
}
/* line 210, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .jobs_form_wrap {
  width: 767px;
  margin: 0 auto;
}
/* line 213, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .jobs_form_wrap .jobs_form {
  margin-top: 30px;
}
/* line 215, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .jobs_form_wrap .jobs_form label {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 10px;
}
/* line 220, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .jobs_form_wrap .jobs_form button[type='submit'] {
  width: 100%;
  border-radius: 15px;
}
/* line 225, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .jobs_form_wrap .jobs_form .form-group.two_lines_rows > div:first-child {
  padding-left: 0px;
}
/* line 228, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .jobs_form_wrap .jobs_form .form-group.two_lines_rows > div:last-child {
  padding-right: 0px;
}
/* line 233, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .jobs_form_wrap .party_hl {
  font-size: 18px;
  line-height: 1.6em;
  font-weight: 200;
  text-align: center;
  margin-top: 60px;
}
/* line 240, ../sass/aboutus.scss */
.tabs_system_section.tss_jobs_page .jobs_form_wrap .video_holder {
  margin-top: 60px;
}

/* line 247, ../sass/aboutus.scss */
.tabs_system_section.tss_soc_resp_page > .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 251, ../sass/aboutus.scss */
.tabs_system_section.tss_soc_resp_page .hl {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
/* line 256, ../sass/aboutus.scss */
.tabs_system_section.tss_soc_resp_page .org_stack_over {
  width: 767px;
  margin: 0 auto;
  margin-top: 60px;
}
/* line 260, ../sass/aboutus.scss */
.tabs_system_section.tss_soc_resp_page .org_stack_over .org_row {
  margin-bottom: 40px;
}
/* line 263, ../sass/aboutus.scss */
.tabs_system_section.tss_soc_resp_page .org_stack_over .org_row:last-child {
  margin-bottom: 0px;
}
/* line 267, ../sass/aboutus.scss */
.tabs_system_section.tss_soc_resp_page .org_stack_over .org_block img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* line 272, ../sass/aboutus.scss */
.tabs_system_section.tss_soc_resp_page .org_stack_over .org_block p {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.6em;
  margin-top: 15px;
  text-align: center;
}

/* line 285, ../sass/aboutus.scss */
.tabs_system_section.tss_our_team_page .our_team_wrap .team_members_wrap {
  margin-top: 80px;
}
/* line 288, ../sass/aboutus.scss */
.tabs_system_section.tss_our_team_page .our_team_wrap .team_members_wrap .tmw_row .team_member_block {
  margin-bottom: 40px;
}
/* line 290, ../sass/aboutus.scss */
.tabs_system_section.tss_our_team_page .our_team_wrap .team_members_wrap .tmw_row .team_member_block .tmb_img_holder {
  margin-bottom: 35px;
}
/* line 292, ../sass/aboutus.scss */
.tabs_system_section.tss_our_team_page .our_team_wrap .team_members_wrap .tmw_row .team_member_block .tmb_img_holder img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
/* line 298, ../sass/aboutus.scss */
.tabs_system_section.tss_our_team_page .our_team_wrap .team_members_wrap .tmw_row .team_member_block p {
  text-align: center;
}
/* line 301, ../sass/aboutus.scss */
.tabs_system_section.tss_our_team_page .our_team_wrap .team_members_wrap .tmw_row .team_member_block .t_h {
  font-size: 21px;
  color: #222222;
  margin-bottom: 10px;
}
/* line 306, ../sass/aboutus.scss */
.tabs_system_section.tss_our_team_page .our_team_wrap .team_members_wrap .tmw_row .team_member_block .t_d {
  font-weight: 200;
  font-size: 16px;
}

/* line 318, ../sass/aboutus.scss */
.tabs_system_section.tss_press_page .press_page_wrap .press_down_green_line {
  height: 290px;
  background-image: url("../images/press_down_green_line.jpg");
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
}
/* line 325, ../sass/aboutus.scss */
.tabs_system_section.tss_press_page .press_page_wrap .press_down_green_line .pdgl_cnt {
  padding-top: 160px;
}
/* line 328, ../sass/aboutus.scss */
.tabs_system_section.tss_press_page .press_page_wrap .press_down_green_line .pdgl_cnt > a span {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
}
/* line 337, ../sass/aboutus.scss */
.tabs_system_section.tss_press_page .press_page_wrap .pr_tbl_wrap .hl {
  font-size: 28px;
  color: #222222;
}
/* line 341, ../sass/aboutus.scss */
.tabs_system_section.tss_press_page .press_page_wrap .pr_tbl_wrap .press_post_line {
  margin-top: 30px;
}
/* line 343, ../sass/aboutus.scss */
.tabs_system_section.tss_press_page .press_page_wrap .pr_tbl_wrap .press_post_line p {
  font-size: 18px;
  line-height: 1.6em;
}
/* line 347, ../sass/aboutus.scss */
.tabs_system_section.tss_press_page .press_page_wrap .pr_tbl_wrap .press_post_line .hl_post {
  margin-bottom: 10px;
}
/* line 350, ../sass/aboutus.scss */
.tabs_system_section.tss_press_page .press_page_wrap .pr_tbl_wrap .press_post_line .hl_body {
  font-weight: 200;
}

@media all and (max-width: 991px) {
  /* line 360, ../sass/aboutus.scss */
  .aboutus_map_block .amb_textline {
    left: 6%;
    width: 94%;
  }
}
@media (max-width: 767px) {
  /* line 371, ../sass/aboutus.scss */
  .aboutus_headnav_block .ahb_nav_hold ul li {
    margin-right: 20px;
  }
  /* line 374, ../sass/aboutus.scss */
  .aboutus_headnav_block .ahb_nav_hold ul li:last-child {
    margin-right: 0px;
  }

  /* line 382, ../sass/aboutus.scss */
  .about_us_content_line .auc_txt_block_wrap.rect_middle {
    width: 100%;
  }

  /* line 388, ../sass/aboutus.scss */
  .tabs_system_section.tss_jobs_page .jobs_form_wrap {
    width: 100%;
  }

  /* line 394, ../sass/aboutus.scss */
  .tabs_system_section.tss_soc_resp_page .org_stack_over {
    width: 100%;
  }

  /* line 402, ../sass/aboutus.scss */
  .tabs_system_section.tss_press_page .press_page_wrap .pr_tbl_wrap > div {
    float: none;
    width: 100%;
  }
  /* line 406, ../sass/aboutus.scss */
  .tabs_system_section.tss_press_page .press_page_wrap .pr_tbl_wrap > div:first-child {
    margin-bottom: 30px;
  }
}
@media all and (max-width: 640px) {
  /* line 416, ../sass/aboutus.scss */
  .regular_content_block .container {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  /* line 422, ../sass/aboutus.scss */
  .aboutus_headnav_block .aboutus_headnav_img_hold {
    display: none;
  }

  /* line 429, ../sass/aboutus.scss */
  .aboutus_headnav_block .ahb_nav_hold ul li {
    float: none;
    width: 100%;
    text-align: center;
    margin-right: 0px;
    margin-bottom: 15px;
  }
  /* line 435, ../sass/aboutus.scss */
  .aboutus_headnav_block .ahb_nav_hold ul li a:hover {
    border-bottom: none;
  }
  /* line 439, ../sass/aboutus.scss */
  .aboutus_headnav_block .ahb_nav_hold ul li:last-child {
    margin-right: 0px;
    margin-bottom: 0px;
  }

  /* line 447, ../sass/aboutus.scss */
  .about_us_content_line .auc_bc_txt_block {
    background-image: none;
    height: auto;
  }
  /* line 450, ../sass/aboutus.scss */
  .about_us_content_line .auc_bc_txt_block .abtb_inside {
    float: none !important;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
}
@media all and (max-width: 568px) {
  /* line 465, ../sass/aboutus.scss */
  .tabs_system_section.tss_soc_resp_page .org_stack_over .org_row > div {
    padding: 0px;
    float: none;
    width: 100%;
  }
  /* line 470, ../sass/aboutus.scss */
  .tabs_system_section.tss_soc_resp_page .org_stack_over .org_row .org_block:first-child {
    margin-bottom: 25px !important;
  }
}
@media all and (max-width: 400px) {
  /* line 480, ../sass/aboutus.scss */
  .aboutus_map_block .aboutus_map_img_hold {
    height: 300px;
  }

  /* line 489, ../sass/aboutus.scss */
  .tabs_system_section.tss_jobs_page .jobs_form_wrap .jobs_form .form-group.two_lines_rows > div {
    padding: 0px;
    float: none;
    width: 100%;
  }
  /* line 494, ../sass/aboutus.scss */
  .tabs_system_section.tss_jobs_page .jobs_form_wrap .jobs_form .form-group.two_lines_rows > div:first-child {
    margin-bottom: 15px;
  }

  /* line 506, ../sass/aboutus.scss */
  .tabs_system_section.tss_our_team_page .our_team_wrap .team_members_wrap .tmw_row .team_member_block {
    float: none;
    width: 100%;
  }
}
