@import url("elements.css");
/* line 5, ../sass/all_features.scss */
.all_features_section .cnt_left a {
  font-size: 16px;
  color: #48ad42;
}
/* line 8, ../sass/all_features.scss */
.all_features_section .cnt_left a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r_16_16.png");
  width: 21px;
  height: 16px;
  margin-right: 10px;
}
/* line 16, ../sass/all_features.scss */
.all_features_section .cnt_left a span {
  font-size: 16px;
  color: #48ad42;
}
/* line 23, ../sass/all_features.scss */
.all_features_section .ft_line_holder .ft_line {
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 26, ../sass/all_features.scss */
.all_features_section .ft_line_holder .ft_line p {
  font-size: 16px;
}
/* line 33, ../sass/all_features.scss */
.all_features_section .ft_line_holder .ft_line:nth-child(even) {
  background: #f6f8f8;
}

/* line 41, ../sass/all_features.scss */
.start_trial_section .start_trial_form_wrap {
  margin-top: 43px;
}
/* line 43, ../sass/all_features.scss */
.start_trial_section .start_trial_form_wrap input[type='text'], .start_trial_section .start_trial_form_wrap input[type='email'], .start_trial_section .start_trial_form_wrap input[type='password'] {
  margin-right: 20px;
  height: 54px;
}
/* line 47, ../sass/all_features.scss */
.start_trial_section .start_trial_form_wrap .cnt {
  margin-top: 43px;
}
/* line 49, ../sass/all_features.scss */
.start_trial_section .start_trial_form_wrap .cnt button {
  color: #fff;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 56, ../sass/all_features.scss */
.start_trial_section .start_trial_form_wrap .cnt button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}
/* line 67, ../sass/all_features.scss */
.start_trial_section .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
}
/* line 72, ../sass/all_features.scss */
.start_trial_section .disc {
  text-align: center;
  font-size: 21px;
  margin-top: 24px;
  font-weight: 200;
}

@media (max-width: 767px) {
  /* line 82, ../sass/all_features.scss */
  .all_ft_stack > div {
    float: none;
    width: 100%;
  }
}
