/* line 17, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/elements.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  color: red;
  clear: both;
  height: 0;
}

/* line 17, ../sass/elements.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 18, ../sass/elements.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 20, ../sass/elements.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 25, ../sass/elements.scss */
body {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  background: white;
  color: #5d6974;
  line-height: 1.3;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 36, ../sass/elements.scss */
body p, body a, body button, body h1, body h2, body h3, body h4, body h5, body h6, body input, body textarea, body select, body table td, body table th, body span, body li, body label, body div {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
  font-size: 12px;
  color: #5d6974;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 44, ../sass/elements.scss */
body a, body button {
  -moz-transition: color 0.6s ease 0s;
  -webkit-transition: color 0.6s ease 0s;
  -ms-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  -moz-transition: background-color 0.6s ease 0s;
  -webkit-transition: background-color 0.6s ease 0s;
  -ms-transition: background-color 0.6s ease 0s;
  -o-transition: background-color 0.6s ease 0s;
}
/* line 49, ../sass/elements.scss */
body a:hover {
  text-decoration: none !important;
  color: #5d6974;
}
/* line 54, ../sass/elements.scss */
body input[type='text'], body input[type='email'], body input[type='password'] {
  height: 54px;
}
/* line 58, ../sass/elements.scss */
body textarea.form-control {
  resize: none;
  height: 200px;
}
/* line 63, ../sass/elements.scss */
body input[type='text']:focus, body input[type='text']:active, body input[type='email']:focus, body input[type='email']:active, body input[type='password']:focus, body input[type='password']:active, body textarea.form-control:active, body textarea.form-control:focus {
  border-color: #48ad42;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(72, 173, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(72, 173, 66, 0.6);
}
/* line 69, ../sass/elements.scss */
body .form-control::-moz-placeholder {
  color: #c8d1d8;
  opacity: 1;
}
/* line 73, ../sass/elements.scss */
body .form-control:-ms-input-placeholder {
  color: #c8d1d8;
}
/* line 76, ../sass/elements.scss */
body .form-control::-webkit-input-placeholder {
  color: #c8d1d8;
}
/* line 80, ../sass/elements.scss */
body .col_25 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
/* line 86, ../sass/elements.scss */
body .col_20 {
  display: inline-block;
  width: 18.5%;
  vertical-align: top;
}
/* line 92, ../sass/elements.scss */
body .col_19 {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}
/* line 98, ../sass/elements.scss */
body .col_20_or {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
/* line 104, ../sass/elements.scss */
body .row_relative {
  position: relative;
}
/* line 108, ../sass/elements.scss */
body .green_text {
  color: #48ad42;
}
/* line 112, ../sass/elements.scss */
body .boldy {
  font-weight: 600;
}
/* line 116, ../sass/elements.scss */
body .boldy_m {
  font-weight: 500;
}
/* line 120, ../sass/elements.scss */
body .display_inline_block {
  display: inline-block;
}
/* line 124, ../sass/elements.scss */
body .mobile_sidebar_menu {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 260px;
  height: 300px;
  background: black;
  z-index: 100;
  transition: right .25s ease-out;
  -moz-transition: right .25s ease-out;
  -webkit-transition: right .25s ease-out;
  -ms-transition: right .25s ease-out;
  -o-transition: right .25s ease-out;
  min-height: 100%;
  padding: 0 40px;
}
/* line 144, ../sass/elements.scss */
body .mobile_sidebar_menu ul li a {
  line-height: 26px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  color: #666666;
}
/* line 151, ../sass/elements.scss */
body .mobile_sidebar_menu ul li a:hover, body .mobile_sidebar_menu ul li a.active {
  color: white;
  text-decoration: none;
}
/* line 157, ../sass/elements.scss */
body .mobile_sidebar_menu .reg_ul {
  margin-top: 30px;
}
/* line 160, ../sass/elements.scss */
body .mobile_sidebar_menu .auth_ul {
  margin-top: 20px;
}
/* line 163, ../sass/elements.scss */
body .mobile_sidebar_menu .social_lnk_panel {
  margin-top: 20px;
}
/* line 166, ../sass/elements.scss */
body .mobile_sidebar_menu .social_lnk_panel ul li:first-child {
  margin-right: 25px;
}
/* line 171, ../sass/elements.scss */
body .mobile_sidebar_menu .mob_get_started_btn {
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 10px;
}
/* line 176, ../sass/elements.scss */
body .mobile_sidebar_menu .mob_get_started_btn:hover {
  color: white;
}
/* line 180, ../sass/elements.scss */
body .mobile_sidebar_menu .mob_close_inside {
  cursor: pointer;
  font-size: 2em;
  margin-left: 20px;
}
/* line 186, ../sass/elements.scss */
body .mobile_sidebar_menu.m_toggle {
  display: block;
  right: 0px;
}
/* line 191, ../sass/elements.scss */
body #root {
  position: relative;
  left: 0px;
  padding-top: 105px;
  transition: left .25s ease-out;
  -moz-transition: left .25s ease-out;
  -webkit-transition: left .25s ease-out;
  -ms-transition: left .25s ease-out;
  -o-transition: left .25s ease-out;
}
/* line 202, ../sass/elements.scss */
body #root.m_toggle {
  left: -260px;
}
/* line 206, ../sass/elements.scss */
body .non_margins_row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 211, ../sass/elements.scss */
body .non_padd_container {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 216, ../sass/elements.scss */
body .text-left {
  text-align: left !important;
}
/* line 221, ../sass/elements.scss */
body .btn {
  background-color: transparent;
  border: 2px solid #48ad42;
  color: #48ad42;
  padding: 16px 30px;
  font-size: 18px;
  border-radius: 30px;
}
/* line 229, ../sass/elements.scss */
body .btn-sm {
  padding: 10px 20px;
  font-size: 15px;
}
/* line 233, ../sass/elements.scss */
body .btn-md {
  padding: 17px 24px;
  font-size: 16px;
}
/* line 237, ../sass/elements.scss */
body .btn:hover, body .btn:active {
  background-color: #48ad42;
  color: white;
}
/* line 241, ../sass/elements.scss */
body .btn.filled {
  background-color: #48ad42;
  color: white;
}
/* line 246, ../sass/elements.scss */
body .btn.blue_theme {
  color: #2ba8d6;
  border: solid 2px #2ba8d6;
}
/* line 250, ../sass/elements.scss */
body .btn.blue_theme:hover, body .btn.blue_theme:active {
  background-color: #2ba8d6;
  color: white;
}
/* line 254, ../sass/elements.scss */
body .btn.blue_theme.filled {
  background-color: #2ba8d6;
  color: white;
}
/* line 259, ../sass/elements.scss */
body .btn.purple_theme {
  color: #f24985;
  border: solid 2px #f24985;
}
/* line 263, ../sass/elements.scss */
body .btn.purple_theme:hover, body .btn.purple_theme:active {
  background-color: #f24985;
  color: white;
}
/* line 267, ../sass/elements.scss */
body .btn.purple_theme.filled {
  background-color: #f24985;
  color: white;
}
/* line 273, ../sass/elements.scss */
body .fs_21 {
  font-size: 21px;
}
/* line 276, ../sass/elements.scss */
body .full_w {
  width: 100%;
}
/* line 282, ../sass/elements.scss */
body .modal-backdrop {
  z-index: 0;
  display: none;
}
/* line 286, ../sass/elements.scss */
body .header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 8;
  transition: left .25s ease-out;
  -moz-transition: left .25s ease-out;
  -webkit-transition: left .25s ease-out;
  -ms-transition: left .25s ease-out;
  -o-transition: left .25s ease-out;
  width: 100%;
  padding-bottom: 22px;
  background: white;
}
/* line 301, ../sass/elements.scss */
body .header > .container {
  padding-top: 14px;
}
/* line 304, ../sass/elements.scss */
body .header .top_under_header {
  background: #f4f4f4;
  height: 0px;
  overflow: hidden;
  transition: height .25s ease-out;
  -moz-transition: height .25s ease-out;
  -webkit-transition: height .25s ease-out;
  -ms-transition: height .25s ease-out;
  -o-transition: height .25s ease-out;
}
/* line 314, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block > p {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #575d64;
}
/* line 321, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul {
  margin-bottom: 10px;
}
/* line 323, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul li {
  margin-bottom: 5px;
}
/* line 325, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul li a {
  color: #575d64;
  line-height: 24px;
  font-size: 14px;
  font-weight: 200;
}
/* line 332, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul li:last-child {
  margin-bottom: 0px;
}
/* line 337, ../sass/elements.scss */
body .header .top_under_header .tuh_close {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  color: #575d64;
  text-shadow: 0 1px 0 white;
  opacity: 0.8;
}
/* line 353, ../sass/elements.scss */
body .header .top_under_header .tuh_close:hover {
  opacity: 1;
}
/* line 357, ../sass/elements.scss */
body .header .top_under_header.act {
  height: 215px;
}
/* line 361, ../sass/elements.scss */
body .header .logo {
  width: 176px;
  height: 34px;
  margin-top: 22px;
}
/* line 365, ../sass/elements.scss */
body .header .logo img {
  display: block;
  width: 100%;
}
/* line 370, ../sass/elements.scss */
body .header .mob_nav_knob {
  display: none;
  margin-top: 26px;
}
/* line 374, ../sass/elements.scss */
body .header .mob_nav_knob a span {
  font-size: 2.5em;
}
/* line 379, ../sass/elements.scss */
body .header .head_nav {
  margin-left: 45px;
  margin-top: 31px;
}
/* line 383, ../sass/elements.scss */
body .header .head_nav ul li {
  float: left;
  margin-left: 35px;
}
/* line 386, ../sass/elements.scss */
body .header .head_nav ul li a {
  font-size: 16px;
  color: #5d6974;
  font-weight: 400;
}
/* line 391, ../sass/elements.scss */
body .header .head_nav ul li a:hover {
  text-decoration: none;
}
/* line 395, ../sass/elements.scss */
body .header .head_nav ul li:first-child {
  margin-left: 0px;
}
/* line 400, ../sass/elements.scss */
body .header .auth_nav {
  margin-top: 31px;
}
/* line 402, ../sass/elements.scss */
body .header .auth_nav li {
  float: left;
}
/* line 404, ../sass/elements.scss */
body .header .auth_nav li a {
  font-size: 16px;
  color: #5d6974;
  font-weight: 400;
}
/* line 409, ../sass/elements.scss */
body .header .auth_nav li a:hover {
  text-decoration: none;
}
/* line 412, ../sass/elements.scss */
body .header .auth_nav li .login_lnk:hover {
  cursor: pointer;
}
/* line 415, ../sass/elements.scss */
body .header .auth_nav li .signup_lnk {
  color: #48ad42;
  font-weight: 400;
  border-radius: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -18px;
}
/* line 425, ../sass/elements.scss */
body .header .auth_nav li .signup_lnk:hover {
  background-color: #48ad42;
  color: white;
}
/* line 430, ../sass/elements.scss */
body .header .auth_nav li:first-child {
  margin-right: 12px;
}
/* line 436, ../sass/elements.scss */
body .header.m_toggle {
  left: -260px;
}
/* line 440, ../sass/elements.scss */
body .header.fixed {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
/* line 455, ../sass/elements.scss */
body .regular_content_block .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 459, ../sass/elements.scss */
body .regular_content_block .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 25px;
}
/* line 465, ../sass/elements.scss */
body .regular_content_block .disc {
  text-align: center;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 470, ../sass/elements.scss */
body .regular_content_block .disc span {
  font-size: 21px;
  font-weight: 200;
}
/* line 476, ../sass/elements.scss */
body .regular_content_block.bottom_border_line {
  border-bottom: solid 1px #c8d1d8;
}
/* line 481, ../sass/elements.scss */
body .footer {
  width: 100%;
  background-color: #222222;
  padding-top: 72px;
  padding-bottom: 48px;
}
/* line 486, ../sass/elements.scss */
body .footer .mini_logo {
  display: block;
  margin: 0 auto;
}
/* line 491, ../sass/elements.scss */
body .footer .partners_list li {
  float: left;
  margin-right: 20px;
}
/* line 495, ../sass/elements.scss */
body .footer .partners_list li:last-child {
  margin-right: 0px;
}
/* line 499, ../sass/elements.scss */
body .footer .foot_head {
  font-family: "Gotham Rounded SSm Medium", sans-serif;
  color: white;
  font-size: 21px;
}
/* line 504, ../sass/elements.scss */
body .footer .sub_footer_line {
  margin-top: 30px;
}
/* line 508, ../sass/elements.scss */
body .footer .foot_list li {
  margin-bottom: 20px;
}
/* line 510, ../sass/elements.scss */
body .footer .foot_list li a {
  font-size: 14px;
  color: #48ad42;
  line-height: 1.6em;
}
/* line 515, ../sass/elements.scss */
body .footer .foot_list li a:hover {
  text-decoration: none;
}
/* line 519, ../sass/elements.scss */
body .footer .foot_list li:last-child {
  margin-bottom: 0px;
}
/* line 524, ../sass/elements.scss */
body .footer .latest_blog_posts .foot_head, body .footer .latest_tweets .foot_head {
  margin-bottom: 30px;
}
/* line 528, ../sass/elements.scss */
body .footer .last_uptime {
  margin-top: 45px;
}
/* line 532, ../sass/elements.scss */
body .footer .high_credit_rating > p {
  font-family: "Gotham Rounded SSm Medium", sans-serif;
  color: white;
  font-size: 21px;
  margin-bottom: 21px;
}
/* line 544, ../sass/elements.scss */
body .footer .social_response {
  margin-top: 40px;
}
/* line 546, ../sass/elements.scss */
body .footer .social_response > p {
  color: white;
  font-size: 21px;
  margin-bottom: 21px;
}
/* line 553, ../sass/elements.scss */
body .footer .social_response > div > div:first-child {
  margin-right: 40px;
}

@media all and (max-width: 1064px) {
  /* line 567, ../sass/elements.scss */
  .header .head_nav ul li a {
    font-size: 14px !important;
  }
  /* line 576, ../sass/elements.scss */
  .header .auth_nav ul li a {
    font-size: 14px;
  }
}
@media all and (max-width: 991px) {
  /* line 596, ../sass/elements.scss */
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 600, ../sass/elements.scss */
  .container .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* line 606, ../sass/elements.scss */
  .header .head_nav {
    margin-left: 13px !important;
  }
  /* line 609, ../sass/elements.scss */
  .header .head_nav ul li {
    margin-left: 10px !important;
  }
  /* line 611, ../sass/elements.scss */
  .header .head_nav ul li a {
    font-size: 14px !important;
  }
  /* line 615, ../sass/elements.scss */
  .header .head_nav ul li:first-child {
    margin-left: 0px;
  }
  /* line 623, ../sass/elements.scss */
  .header .auth_nav ul li a {
    font-size: 14px;
  }
}
@media all and (max-width: 850px) {
  /* line 634, ../sass/elements.scss */
  .header > .container {
    padding-top: 0px !important;
  }
  /* line 637, ../sass/elements.scss */
  .header .head_nav, .header .auth_nav {
    display: none;
  }
  /* line 640, ../sass/elements.scss */
  .header .mob_nav_knob {
    display: block !important;
  }

  /* line 646, ../sass/elements.scss */
  .get_started_section .get_started_form_wrap button[type='submit'] {
    margin-top: 15px;
  }

  /* line 651, ../sass/elements.scss */
  .col_20.tuh_nav_block {
    display: none;
  }
}
@media all and (max-width: 568px) {
  /* line 662, ../sass/elements.scss */
  .footer .foot_head {
    text-align: center;
  }
  /* line 666, ../sass/elements.scss */
  .footer .foot_list li {
    text-align: center;
  }
  /* line 670, ../sass/elements.scss */
  .footer .footer_nav_block {
    float: none;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  /* line 677, ../sass/elements.scss */
  .footer .footer_nav_block .high_credit_rating p {
    text-align: center;
  }
  /* line 680, ../sass/elements.scss */
  .footer .footer_nav_block .high_credit_rating img {
    margin: 0 auto;
  }
  /* line 685, ../sass/elements.scss */
  .footer .footer_nav_block .social_response p {
    text-align: center;
  }
  /* line 691, ../sass/elements.scss */
  .footer .subfooter_nav_block {
    float: none;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
}
/* line 702, ../sass/elements.scss */
body.m_toggle {
  overflow: hidden;
}

/* line 5, ../sass/contact_us.scss */
.company_info_block .cib_img_hold img {
  display: block;
}
/* line 9, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold {
  background: #48ad42;
  padding-top: 25px;
}
/* line 12, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold ul {
  display: inline-block;
}
/* line 15, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3 {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}
/* line 19, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3 p {
  color: white;
}
/* line 22, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3 .cs_h {
  font-size: 16px;
  margin-bottom: 12px;
}
/* line 26, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3 .cs_d {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 32, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3:last-child {
  margin-right: 0px;
}

/* line 41, ../sass/contact_us.scss */
.contact_map_block .contact_us_form button span {
  font-size: 16px;
  color: white;
  margin-right: 15px;
}

@media (max-width: 767px) {
  /* line 54, ../sass/contact_us.scss */
  .contact_map_block > .container > .row > div {
    float: none;
    width: 100%;
  }
  /* line 58, ../sass/contact_us.scss */
  .contact_map_block > .container > .row > div:last-child {
    margin-top: 20px;
  }
  /* line 60, ../sass/contact_us.scss */
  .contact_map_block > .container > .row > div:last-child .map_hold {
    float: none !important;
    margin: 0 auto;
  }
  /* line 63, ../sass/contact_us.scss */
  .contact_map_block > .container > .row > div:last-child .map_hold img {
    width: 100%;
  }
}
@media all and (max-width: 640px) {
  /* line 75, ../sass/contact_us.scss */
  .company_info_block .cib_img_hold {
    display: none;
  }
  /* line 80, ../sass/contact_us.scss */
  .company_info_block .cib_nav_hold ul li {
    float: none;
    width: 100%;
  }
}
