@import url("elements.css");
/* line 5, ../sass/contact_us.scss */
.company_info_block .cib_img_hold img {
  display: block;
}
/* line 9, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold {
  background: #48ad42;
  padding-top: 25px;
}
/* line 12, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold ul {
  display: inline-block;
}
/* line 15, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3 {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}
/* line 19, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3 p {
  color: #fff;
}
/* line 22, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3 .cs_h {
  font-size: 16px;
  margin-bottom: 12px;
}
/* line 26, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3 .cs_d {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 32, ../sass/contact_us.scss */
.company_info_block .cib_nav_hold .col-custom-3:last-child {
  margin-right: 0px;
}

/* line 41, ../sass/contact_us.scss */
.contact_map_block .contact_us_form button span {
  font-size: 16px;
  color: #fff;
  margin-right: 15px;
}

@media (max-width: 767px) {
  /* line 54, ../sass/contact_us.scss */
  .contact_map_block > .container > .row > div {
    float: none;
    width: 100%;
  }
  /* line 58, ../sass/contact_us.scss */
  .contact_map_block > .container > .row > div:last-child {
    margin-top: 20px;
  }
  /* line 60, ../sass/contact_us.scss */
  .contact_map_block > .container > .row > div:last-child .map_hold {
    float: none !important;
    margin: 0 auto;
  }
  /* line 63, ../sass/contact_us.scss */
  .contact_map_block > .container > .row > div:last-child .map_hold img {
    width: 100%;
  }
}
@media all and (max-width: 640px) {
  /* line 75, ../sass/contact_us.scss */
  .company_info_block .cib_img_hold {
    display: none;
  }
  /* line 80, ../sass/contact_us.scss */
  .company_info_block .cib_nav_hold ul li {
    float: none;
    width: 100%;
  }
}
