@import url("elements.css");
/* line 4, ../sass/home.scss */
.get_started_section .get_started_form_wrap {
  margin-top: 68px;
}
/* line 6, ../sass/home.scss */
.get_started_section .get_started_form_wrap input[type='text'], .get_started_section .get_started_form_wrap input[type='email'], .get_started_section .get_started_form_wrap input[type='password'] {
  margin-right: 20px;
}
/* line 9, ../sass/home.scss */
.get_started_section .get_started_form_wrap button {
  color: #fff;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 21px;
}
/* line 19, ../sass/home.scss */
.get_started_section .get_started_form_wrap button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}
/* line 29, ../sass/home.scss */
.get_started_section .h {
  font-size: 48px;
  color: #222222;
  display: block;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
/* line 37, ../sass/home.scss */
.get_started_section .disc {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 200;
}
/* line 43, ../sass/home.scss */
.get_started_section .note {
  margin-top: 30px;
}
/* line 45, ../sass/home.scss */
.get_started_section .note p {
  font-size: 14px;
  font-weight: 200;
}

/* line 52, ../sass/home.scss */
.demo_screen_preview_section {
  width: 100%;
}
/* line 54, ../sass/home.scss */
.demo_screen_preview_section img {
  width: 100%;
  display: block;
}

/* line 61, ../sass/home.scss */
.promotion_section .container {
  border-bottom: solid 1px #c8d1d8;
  padding-top: 50px !important;
}
/* line 66, ../sass/home.scss */
.promotion_section .promo_block .pic_holder {
  min-height: 59px;
}
/* line 68, ../sass/home.scss */
.promotion_section .promo_block .pic_holder img {
  display: block;
  margin: 0 auto;
}
/* line 72, ../sass/home.scss */
.promotion_section .promo_block .pic_holder img.mt_top {
  margin: 0 auto;
  margin-top: 7px;
}
/* line 84, ../sass/home.scss */
.promotion_section .note {
  margin-bottom: 30px;
}
/* line 86, ../sass/home.scss */
.promotion_section .note p {
  font-size: 18px;
  text-transform: uppercase;
}

/* line 96, ../sass/home.scss */
.choose_templates_section .container {
  border-bottom: solid 1px #c8d1d8;
}
/* line 99, ../sass/home.scss */
.choose_templates_section .templates_wrap {
  margin-top: 66px;
}
/* line 101, ../sass/home.scss */
.choose_templates_section .templates_wrap .mobile_templates_wrap {
  display: none;
}
/* line 104, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline {
  margin-bottom: 70px;
}
/* line 107, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside {
  position: relative;
  border: solid 2px #c8d1d8;
  border-radius: 2px;
}
/* line 111, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 119, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt {
  margin-top: 200px;
  margin-top: -webkit-calc(50% - 32px);
  margin-top: -moz-calc(50% - 32px);
  margin-top: calc(50% - 32px);
}
/* line 124, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
  color: #48ad42;
  font-size: 18px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 52px;
  padding: 17px 31px;
}
/* line 132, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:first-child {
  margin-right: 20px;
}
/* line 135, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:hover {
  background-color: #48ad42;
  color: #fff;
}
/* line 141, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside img {
  width: 100%;
  display: block;
}
/* line 147, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside:hover .hove_overlay {
  display: block;
}
/* line 153, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline:last-child {
  margin-bottom: 0px;
}
/* line 157, ../sass/home.scss */
.choose_templates_section .cnt {
  margin-top: 82px;
}
/* line 159, ../sass/home.scss */
.choose_templates_section .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 166, ../sass/home.scss */
.choose_templates_section .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 5px;
}
/* line 175, ../sass/home.scss */
.choose_templates_section .cnt a:hover {
  background-color: #48ad42;
  color: #fff;
}
/* line 178, ../sass/home.scss */
.choose_templates_section .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 186, ../sass/home.scss */
.bus_standout .container {
  border-bottom: solid 1px #c8d1d8;
}
/* line 189, ../sass/home.scss */
.bus_standout .standout_block {
  margin-top: 40px;
}
/* line 192, ../sass/home.scss */
.bus_standout .standout_block .pic_holder img {
  display: block;
  margin: 0 auto;
}
/* line 197, ../sass/home.scss */
.bus_standout .standout_block .head {
  font-size: 21px;
  color: #222222;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 43px;
}
/* line 204, ../sass/home.scss */
.bus_standout .standout_block .desc {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 211, ../sass/home.scss */
.bus_standout .cnt {
  margin-top: 60px;
}
/* line 213, ../sass/home.scss */
.bus_standout .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 34px;
  padding: 17px 25px;
}
/* line 220, ../sass/home.scss */
.bus_standout .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 5px;
}
/* line 229, ../sass/home.scss */
.bus_standout .cnt a:hover {
  background-color: #48ad42;
  color: #fff;
}
/* line 232, ../sass/home.scss */
.bus_standout .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 243, ../sass/home.scss */
.our_word_section .our_word_block {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 246, ../sass/home.scss */
.our_word_section .our_word_block .pic_holder {
  float: left;
}
/* line 248, ../sass/home.scss */
.our_word_section .our_word_block .pic_holder img {
  width: 100%;
  display: block;
}
/* line 253, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder {
  float: right;
}
/* line 255, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .h {
  font-size: 26px;
  color: #222222;
  margin-bottom: 25px;
  text-align: left;
  margin-top: 65px;
}
/* line 262, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .desc {
  font-size: 16px;
  margin-bottom: 42px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 268, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .disc {
  text-align: left;
}
/* line 270, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .disc .n {
  font-size: 16px;
  color: #222222;
}
/* line 274, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .disc .e {
  font-size: 16px;
  color: #48ad42;
}
/* line 281, ../sass/home.scss */
.our_word_section .our_word_block:last-child {
  margin-bottom: 0px;
}
/* line 285, ../sass/home.scss */
.our_word_section .our_word_block:nth-child(odd) .owb_holder:nth-child(1) {
  float: right;
}
/* line 288, ../sass/home.scss */
.our_word_section .our_word_block:nth-child(odd) .owb_holder:nth-child(2) {
  float: left;
}
/* line 291, ../sass/home.scss */
.our_word_section .our_word_block:nth-child(odd) .pic_holder {
  float: right;
}
/* line 294, ../sass/home.scss */
.our_word_section .our_word_block:nth-child(odd) .desc_holder {
  float: left;
}
/* line 298, ../sass/home.scss */
.our_word_section .cnt {
  margin-top: 72px;
}
/* line 300, ../sass/home.scss */
.our_word_section .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 307, ../sass/home.scss */
.our_word_section .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 5px;
}
/* line 316, ../sass/home.scss */
.our_word_section .cnt a:hover {
  background-color: #48ad42;
  color: #fff;
}
/* line 319, ../sass/home.scss */
.our_word_section .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 327, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap {
  margin-top: 43px;
}
/* line 329, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap input[type='text'], .start_trial_section .start_trial_form_wrap input[type='email'], .start_trial_section .start_trial_form_wrap input[type='password'] {
  margin-right: 20px;
}
/* line 332, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap .cnt {
  margin-top: 43px;
}
/* line 334, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap .cnt button {
  color: #fff;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 341, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap .cnt button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}

/* line 354, ../sass/home.scss */
.twitter_feed_section {
  background-color: #f7f7f7;
}
/* line 356, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder {
  margin-top: 60px;
}
/* line 358, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder > div {
  margin-bottom: 15px;
}
/* line 361, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block {
  background: #fff;
  padding: 10px;
}
/* line 367, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block .user img {
  display: inline-block;
  vertical-align: middle;
}
/* line 372, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block .user a span:nth-child(3) {
  color: #f79646;
}
/* line 377, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block .timePosted {
  display: none;
}
/* line 380, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block .tweet {
  margin-top: 10px;
}
/* line 383, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block a {
  color: #f79646;
}

@media all and (max-width: 991px) {
  /* line 398, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
    font-size: 14px !important;
    padding: 14px 15px !important;
  }

  /* line 411, ../sass/home.scss */
  .our_word_section .owb_holder {
    float: none;
    width: 100%;
  }
  /* line 414, ../sass/home.scss */
  .our_word_section .owb_holder .pic_holder, .our_word_section .owb_holder .desc_holder {
    float: none !important;
  }
}
@media (max-width: 767px) {
  /* line 424, ../sass/home.scss */
  .choose_templates_section .templates_wrap .mobile_templates_wrap {
    display: block;
  }
  /* line 427, ../sass/home.scss */
  .choose_templates_section .templates_wrap .desktop_templates_wrap {
    display: none;
  }
  /* line 431, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold {
    margin-bottom: 20px;
  }
  /* line 436, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
    font-size: 18px !important;
    padding: 17px 31px !important;
  }
  /* line 444, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold:last-child {
    margin-bottom: 0px;
  }

  /* line 451, ../sass/home.scss */
  .promotion_section .promo_block {
    margin-bottom: 20px;
  }
  /* line 454, ../sass/home.scss */
  .promotion_section .promo_block:last-child {
    margin-bottom: 0px;
  }

  /* line 459, ../sass/home.scss */
  .bus_standout .standout_block {
    margin-bottom: 20px;
  }
  /* line 462, ../sass/home.scss */
  .bus_standout .standout_block:last-child {
    margin-bottom: 0px;
  }

  /* line 468, ../sass/home.scss */
  .get_started_section .h {
    width: auto;
    font-size: 32px;
  }
}
@media all and (max-width: 640px) {
  /* line 479, ../sass/home.scss */
  .twitter_feed_section .twitter_feed_holder .twitter_feed_row > div {
    float: none;
    width: 100%;
  }
  /* line 483, ../sass/home.scss */
  .twitter_feed_section .twitter_feed_holder .twitter_feed_row > div:first-child {
    margin-bottom: 15px;
  }
}
@media all and (max-width: 568px) {
  /* line 499, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:first-child {
    display: none;
  }
}
@media all and (max-width: 400px) {
  /* line 544, ../sass/home.scss */
  .choose_templates_section .h, .get_started_section .h, .promotion_section .h, .bus_standout .h, .our_word_section .h, .start_trial_section .h {
    font-size: 24px;
  }
  /* line 547, ../sass/home.scss */
  .choose_templates_section .disc, .get_started_section .disc, .promotion_section .disc, .bus_standout .disc, .our_word_section .disc, .start_trial_section .disc {
    font-size: 18px;
  }

  /* line 553, ../sass/home.scss */
  .choose_templates_section > .container, .bus_standout > .container, .our_word_section > .container, .start_trial_section > .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* line 560, ../sass/home.scss */
  .get_started_section > .container {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  /* line 564, ../sass/home.scss */
  .get_started_section .get_started_form_wrap {
    margin-top: 35px;
  }
  /* line 566, ../sass/home.scss */
  .get_started_section .get_started_form_wrap .form-group {
    display: none;
  }
  /* line 570, ../sass/home.scss */
  .get_started_section .disc, .get_started_section .note {
    display: none;
  }
  /* line 573, ../sass/home.scss */
  .get_started_section .h {
    font-size: 28px !important;
  }

  /* line 578, ../sass/home.scss */
  .demo_screen_preview_section {
    display: none;
  }

  /* line 583, ../sass/home.scss */
  .promotion_section .container {
    padding-top: 0px;
  }
  /* line 588, ../sass/home.scss */
  .promotion_section .promo_block .pic_holder img.mt_top {
    width: 100%;
  }

  /* line 596, ../sass/home.scss */
  .our_word_section .our_word_block {
    margin-bottom: 0px;
  }
  /* line 599, ../sass/home.scss */
  .our_word_section .our_word_block .desc_holder .h {
    font-size: 22px;
  }
  /* line 602, ../sass/home.scss */
  .our_word_section .our_word_block .desc_holder .desc {
    font-size: 14px;
  }

  /* line 611, ../sass/home.scss */
  .choose_templates_section .cnt a, .bus_standout .cnt a, .our_word_section .cnt a {
    font-size: 16px;
  }
}
