@import url("elements.css");
/* line 3, ../sass/home.scss */
.get_started_section {
  padding-bottom: 86px;
  margin-top: 60px;
}
/* line 6, ../sass/home.scss */
.get_started_section .get_started_form_wrap {
  margin-top: 68px;
}
/* line 8, ../sass/home.scss */
.get_started_section .get_started_form_wrap input[type='text'], .get_started_section .get_started_form_wrap input[type='email'], .get_started_section .get_started_form_wrap input[type='password'] {
  margin-right: 20px;
  height: 54px;
}
/* line 12, ../sass/home.scss */
.get_started_section .get_started_form_wrap button {
  color: #fff;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 21px;
}
/* line 22, ../sass/home.scss */
.get_started_section .get_started_form_wrap button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}
/* line 32, ../sass/home.scss */
.get_started_section .h {
  font-size: 48px;
  color: #222222;
  display: block;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
/* line 40, ../sass/home.scss */
.get_started_section .disc {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 200;
}

/* line 48, ../sass/home.scss */
.demo_screen_preview_section {
  width: 100%;
}
/* line 50, ../sass/home.scss */
.demo_screen_preview_section img {
  width: 100%;
  display: block;
}

/* line 57, ../sass/home.scss */
.promotion_section .container {
  padding-top: 100px;
  padding-bottom: 89px;
  border-bottom: solid 1px #c8d1d8;
}
/* line 63, ../sass/home.scss */
.promotion_section .promo_block .pic_holder {
  min-height: 59px;
}
/* line 65, ../sass/home.scss */
.promotion_section .promo_block .pic_holder img {
  display: block;
  margin: 0 auto;
}
/* line 69, ../sass/home.scss */
.promotion_section .promo_block .pic_holder img.mt_top {
  margin: 0 auto;
  margin-top: 7px;
}
/* line 74, ../sass/home.scss */
.promotion_section .promo_block .desc {
  text-align: center;
  margin-top: 24px;
  font-size: 14px;
  font-weight: 200;
}

/* line 85, ../sass/home.scss */
.choose_templates_section .container {
  padding-top: 94px;
  padding-bottom: 102px;
  border-bottom: solid 1px #c8d1d8;
}
/* line 90, ../sass/home.scss */
.choose_templates_section .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 26px;
}
/* line 96, ../sass/home.scss */
.choose_templates_section .disc {
  text-align: center;
  font-size: 21px;
  font-weight: 200;
}
/* line 101, ../sass/home.scss */
.choose_templates_section .templates_wrap {
  margin-top: 66px;
}
/* line 103, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline {
  margin-bottom: 70px;
}
/* line 106, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside {
  position: relative;
  border: solid 2px #c8d1d8;
  border-radius: 2px;
}
/* line 110, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 118, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt {
  margin-top: 200px;
  margin-top: -webkit-calc(50% - 32px);
  margin-top: -moz-calc(50% - 32px);
  margin-top: calc(50% - 32px);
}
/* line 123, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
  color: #48ad42;
  font-size: 18px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 52px;
  padding: 17px 31px;
}
/* line 131, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:first-child {
  margin-right: 20px;
}
/* line 134, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:hover {
  background-color: #48ad42;
  color: #fff;
}
/* line 140, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside img {
  width: 100%;
  display: block;
}
/* line 146, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside:hover .hove_overlay {
  display: block;
}
/* line 152, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline:last-child {
  margin-bottom: 0px;
}
/* line 156, ../sass/home.scss */
.choose_templates_section .cnt {
  margin-top: 82px;
}
/* line 158, ../sass/home.scss */
.choose_templates_section .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 165, ../sass/home.scss */
.choose_templates_section .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
}
/* line 173, ../sass/home.scss */
.choose_templates_section .cnt a:hover {
  background-color: #48ad42;
  color: #fff;
}
/* line 176, ../sass/home.scss */
.choose_templates_section .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 184, ../sass/home.scss */
.bus_standout .container {
  padding-top: 94px;
  padding-bottom: 102px;
  border-bottom: solid 1px #c8d1d8;
}
/* line 189, ../sass/home.scss */
.bus_standout .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 26px;
  margin-bottom: 69px;
}
/* line 198, ../sass/home.scss */
.bus_standout .standout_block .pic_holder img {
  display: block;
  margin: 0 auto;
}
/* line 203, ../sass/home.scss */
.bus_standout .standout_block .head {
  font-size: 21px;
  color: #222222;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 43px;
}
/* line 210, ../sass/home.scss */
.bus_standout .standout_block .desc {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 217, ../sass/home.scss */
.bus_standout .cnt {
  margin-top: 60px;
}
/* line 219, ../sass/home.scss */
.bus_standout .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 34px;
  padding: 17px 25px;
}
/* line 226, ../sass/home.scss */
.bus_standout .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
}
/* line 234, ../sass/home.scss */
.bus_standout .cnt a:hover {
  background-color: #48ad42;
  color: #fff;
}
/* line 237, ../sass/home.scss */
.bus_standout .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 245, ../sass/home.scss */
.our_word_section .container {
  padding-top: 97px;
  padding-bottom: 100px;
  border-bottom: solid 1px #c8d1d8;
}
/* line 250, ../sass/home.scss */
.our_word_section .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 92px;
}
/* line 256, ../sass/home.scss */
.our_word_section .our_word_block {
  margin-bottom: 40px;
}
/* line 259, ../sass/home.scss */
.our_word_section .our_word_block .pic_holder img {
  width: 100%;
  display: block;
}
/* line 265, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .h {
  font-size: 26px;
  color: #222222;
  margin-bottom: 25px;
  text-align: left;
  margin-top: 65px;
}
/* line 272, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .desc {
  font-size: 16px;
  margin-bottom: 42px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 279, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .disc .n {
  font-size: 16px;
  color: #222222;
}
/* line 283, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .disc .e {
  font-size: 16px;
  color: #48ad42;
}
/* line 290, ../sass/home.scss */
.our_word_section .our_word_block:last-child {
  margin-bottom: 0px;
}
/* line 293, ../sass/home.scss */
.our_word_section .cnt {
  margin-top: 72px;
}
/* line 295, ../sass/home.scss */
.our_word_section .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 302, ../sass/home.scss */
.our_word_section .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
}
/* line 310, ../sass/home.scss */
.our_word_section .cnt a:hover {
  background-color: #48ad42;
  color: #fff;
}
/* line 313, ../sass/home.scss */
.our_word_section .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 321, ../sass/home.scss */
.start_trial_section .container {
  padding-top: 99px;
  padding-bottom: 102px;
}
/* line 325, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap {
  margin-top: 43px;
}
/* line 327, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap input[type='text'], .start_trial_section .start_trial_form_wrap input[type='email'], .start_trial_section .start_trial_form_wrap input[type='password'] {
  margin-right: 20px;
  height: 54px;
}
/* line 331, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap .cnt {
  margin-top: 43px;
}
/* line 333, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap .cnt button {
  color: #fff;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 340, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap .cnt button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}
/* line 351, ../sass/home.scss */
.start_trial_section .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
}
/* line 356, ../sass/home.scss */
.start_trial_section .disc {
  text-align: center;
  font-size: 21px;
  margin-top: 24px;
  font-weight: 200;
}

@media all and (max-width: 991px) {
  /* line 372, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
    font-size: 14px !important;
    padding: 14px 15px !important;
  }

  /* line 385, ../sass/home.scss */
  .our_word_block .h {
    margin-bottom: 0px;
  }
  /* line 388, ../sass/home.scss */
  .our_word_block .pic_holder {
    display: none;
    width: 70%;
    float: none !important;
    margin: 0 auto;
  }
  /* line 394, ../sass/home.scss */
  .our_word_block .desc_holder {
    float: none !important;
  }
}
@media (max-width: 767px) {
  /* line 404, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold {
    margin-bottom: 20px;
  }
  /* line 409, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
    font-size: 18px !important;
    padding: 17px 31px !important;
  }
  /* line 417, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold:last-child {
    margin-bottom: 0px;
  }

  /* line 424, ../sass/home.scss */
  .promotion_section .promo_block {
    margin-bottom: 20px;
  }
  /* line 427, ../sass/home.scss */
  .promotion_section .promo_block:last-child {
    margin-bottom: 0px;
  }

  /* line 432, ../sass/home.scss */
  .bus_standout .standout_block {
    margin-bottom: 20px;
  }
  /* line 435, ../sass/home.scss */
  .bus_standout .standout_block:last-child {
    margin-bottom: 0px;
  }

  /* line 441, ../sass/home.scss */
  .get_started_section .h {
    width: auto;
    font-size: 32px;
  }
}
@media all and (max-width: 568px) {
  /* line 456, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
    font-size: 14px !important;
    padding: 14px 15px !important;
  }
}
@media all and (max-width: 360px) {
  /* line 477, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
    font-size: 12px !important;
    padding: 8px !important;
  }
  /* line 481, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:first-child {
    margin-right: 10px;
  }
}
