/* line 17, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/elements.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  color: red;
  clear: both;
  height: 0;
}

/* line 17, ../sass/elements.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 18, ../sass/elements.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 20, ../sass/elements.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 25, ../sass/elements.scss */
body {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  background: white;
  color: #5d6974;
  line-height: 1.3;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 36, ../sass/elements.scss */
body p, body a, body button, body h1, body h2, body h3, body h4, body h5, body h6, body input, body textarea, body select, body table td, body table th, body span, body li, body label, body div {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
  font-size: 12px;
  color: #5d6974;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 44, ../sass/elements.scss */
body a, body button {
  -moz-transition: color 0.6s ease 0s;
  -webkit-transition: color 0.6s ease 0s;
  -ms-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  -moz-transition: background-color 0.6s ease 0s;
  -webkit-transition: background-color 0.6s ease 0s;
  -ms-transition: background-color 0.6s ease 0s;
  -o-transition: background-color 0.6s ease 0s;
}
/* line 49, ../sass/elements.scss */
body a:hover {
  text-decoration: none !important;
  color: #5d6974;
}
/* line 54, ../sass/elements.scss */
body input[type='text'], body input[type='email'], body input[type='password'] {
  height: 54px;
}
/* line 58, ../sass/elements.scss */
body textarea.form-control {
  resize: none;
  height: 200px;
}
/* line 63, ../sass/elements.scss */
body input[type='text']:focus, body input[type='text']:active, body input[type='email']:focus, body input[type='email']:active, body input[type='password']:focus, body input[type='password']:active, body textarea.form-control:active, body textarea.form-control:focus {
  border-color: #48ad42;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(72, 173, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(72, 173, 66, 0.6);
}
/* line 69, ../sass/elements.scss */
body .form-control::-moz-placeholder {
  color: #c8d1d8;
  opacity: 1;
}
/* line 73, ../sass/elements.scss */
body .form-control:-ms-input-placeholder {
  color: #c8d1d8;
}
/* line 76, ../sass/elements.scss */
body .form-control::-webkit-input-placeholder {
  color: #c8d1d8;
}
/* line 80, ../sass/elements.scss */
body .col_25 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
/* line 86, ../sass/elements.scss */
body .col_20 {
  display: inline-block;
  width: 18.5%;
  vertical-align: top;
}
/* line 92, ../sass/elements.scss */
body .col_19 {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}
/* line 98, ../sass/elements.scss */
body .col_20_or {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
/* line 104, ../sass/elements.scss */
body .row_relative {
  position: relative;
}
/* line 108, ../sass/elements.scss */
body .green_text {
  color: #48ad42;
}
/* line 112, ../sass/elements.scss */
body .boldy {
  font-weight: 600;
}
/* line 116, ../sass/elements.scss */
body .boldy_m {
  font-weight: 500;
}
/* line 120, ../sass/elements.scss */
body .display_inline_block {
  display: inline-block;
}
/* line 124, ../sass/elements.scss */
body .mobile_sidebar_menu {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 260px;
  height: 300px;
  background: black;
  z-index: 100;
  transition: right .25s ease-out;
  -moz-transition: right .25s ease-out;
  -webkit-transition: right .25s ease-out;
  -ms-transition: right .25s ease-out;
  -o-transition: right .25s ease-out;
  min-height: 100%;
  padding: 0 40px;
}
/* line 144, ../sass/elements.scss */
body .mobile_sidebar_menu ul li a {
  line-height: 26px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  color: #666666;
}
/* line 151, ../sass/elements.scss */
body .mobile_sidebar_menu ul li a:hover, body .mobile_sidebar_menu ul li a.active {
  color: white;
  text-decoration: none;
}
/* line 157, ../sass/elements.scss */
body .mobile_sidebar_menu .reg_ul {
  margin-top: 30px;
}
/* line 160, ../sass/elements.scss */
body .mobile_sidebar_menu .auth_ul {
  margin-top: 20px;
}
/* line 163, ../sass/elements.scss */
body .mobile_sidebar_menu .social_lnk_panel {
  margin-top: 20px;
}
/* line 166, ../sass/elements.scss */
body .mobile_sidebar_menu .social_lnk_panel ul li:first-child {
  margin-right: 25px;
}
/* line 171, ../sass/elements.scss */
body .mobile_sidebar_menu .mob_get_started_btn {
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 10px;
}
/* line 176, ../sass/elements.scss */
body .mobile_sidebar_menu .mob_get_started_btn:hover {
  color: white;
}
/* line 180, ../sass/elements.scss */
body .mobile_sidebar_menu .mob_close_inside {
  cursor: pointer;
  font-size: 2em;
  margin-left: 20px;
}
/* line 186, ../sass/elements.scss */
body .mobile_sidebar_menu.m_toggle {
  display: block;
  right: 0px;
}
/* line 191, ../sass/elements.scss */
body #root {
  position: relative;
  left: 0px;
  padding-top: 105px;
  transition: left .25s ease-out;
  -moz-transition: left .25s ease-out;
  -webkit-transition: left .25s ease-out;
  -ms-transition: left .25s ease-out;
  -o-transition: left .25s ease-out;
}
/* line 202, ../sass/elements.scss */
body #root.m_toggle {
  left: -260px;
}
/* line 206, ../sass/elements.scss */
body .non_margins_row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 211, ../sass/elements.scss */
body .non_padd_container {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 216, ../sass/elements.scss */
body .text-left {
  text-align: left !important;
}
/* line 241, ../sass/elements.scss */
body .btn {
  background-color: transparent;
  border: 2px solid #48ad42;
  color: #48ad42;
  padding: 16px 30px;
  font-size: 18px;
  border-radius: 30px;
}
/* line 249, ../sass/elements.scss */
body .btn:hover, body .btn:active {
  background-color: #48ad42;
  color: white;
}
/* line 253, ../sass/elements.scss */
body .btn.filled {
  background-color: #48ad42;
  color: white;
}
/* line 258, ../sass/elements.scss */
body .btn.blue_theme {
  color: #2ba8d6;
  border: solid 2px #2ba8d6;
}
/* line 262, ../sass/elements.scss */
body .btn.blue_theme:hover, body .btn.blue_theme:active {
  background-color: #2ba8d6;
  color: white;
}
/* line 266, ../sass/elements.scss */
body .btn.blue_theme.filled {
  background-color: #2ba8d6;
  color: white;
}
/* line 271, ../sass/elements.scss */
body .btn.purple_theme {
  color: #f24985;
  border: solid 2px #f24985;
}
/* line 275, ../sass/elements.scss */
body .btn.purple_theme:hover, body .btn.purple_theme:active {
  background-color: #f24985;
  color: white;
}
/* line 279, ../sass/elements.scss */
body .btn.purple_theme.filled {
  background-color: #f24985;
  color: white;
}
/* line 370, ../sass/elements.scss */
body .full_w {
  width: 100%;
}
/* line 376, ../sass/elements.scss */
body .modal-backdrop {
  z-index: 0;
  display: none;
}
/* line 380, ../sass/elements.scss */
body .header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 8;
  transition: left .25s ease-out;
  -moz-transition: left .25s ease-out;
  -webkit-transition: left .25s ease-out;
  -ms-transition: left .25s ease-out;
  -o-transition: left .25s ease-out;
  width: 100%;
  padding-bottom: 22px;
  background: white;
}
/* line 395, ../sass/elements.scss */
body .header > .container {
  padding-top: 14px;
}
/* line 398, ../sass/elements.scss */
body .header .top_under_header {
  background: #f4f4f4;
  height: 0px;
  overflow: hidden;
  transition: height .25s ease-out;
  -moz-transition: height .25s ease-out;
  -webkit-transition: height .25s ease-out;
  -ms-transition: height .25s ease-out;
  -o-transition: height .25s ease-out;
}
/* line 408, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block > p {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #575d64;
}
/* line 415, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul {
  margin-bottom: 10px;
}
/* line 417, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul li {
  margin-bottom: 5px;
}
/* line 419, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul li a {
  color: #575d64;
  line-height: 24px;
  font-size: 14px;
  font-weight: 200;
}
/* line 426, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul li:last-child {
  margin-bottom: 0px;
}
/* line 431, ../sass/elements.scss */
body .header .top_under_header .tuh_close {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  color: #575d64;
  text-shadow: 0 1px 0 white;
  opacity: 0.8;
}
/* line 447, ../sass/elements.scss */
body .header .top_under_header .tuh_close:hover {
  opacity: 1;
}
/* line 451, ../sass/elements.scss */
body .header .top_under_header.act {
  height: 215px;
}
/* line 455, ../sass/elements.scss */
body .header .logo {
  width: 176px;
  height: 34px;
  margin-top: 22px;
}
/* line 459, ../sass/elements.scss */
body .header .logo img {
  display: block;
  width: 100%;
}
/* line 464, ../sass/elements.scss */
body .header .mob_nav_knob {
  display: none;
  margin-top: 26px;
}
/* line 468, ../sass/elements.scss */
body .header .mob_nav_knob a span {
  font-size: 2.5em;
}
/* line 473, ../sass/elements.scss */
body .header .head_nav {
  margin-left: 45px;
  margin-top: 31px;
}
/* line 477, ../sass/elements.scss */
body .header .head_nav ul li {
  float: left;
  margin-left: 35px;
}
/* line 480, ../sass/elements.scss */
body .header .head_nav ul li a {
  font-size: 16px;
  color: #5d6974;
  font-weight: 400;
}
/* line 485, ../sass/elements.scss */
body .header .head_nav ul li a:hover {
  text-decoration: none;
}
/* line 489, ../sass/elements.scss */
body .header .head_nav ul li:first-child {
  margin-left: 0px;
}
/* line 494, ../sass/elements.scss */
body .header .auth_nav {
  margin-top: 31px;
}
/* line 496, ../sass/elements.scss */
body .header .auth_nav li {
  float: left;
}
/* line 498, ../sass/elements.scss */
body .header .auth_nav li a {
  font-size: 16px;
  color: #5d6974;
  font-weight: 400;
}
/* line 503, ../sass/elements.scss */
body .header .auth_nav li a:hover {
  text-decoration: none;
}
/* line 506, ../sass/elements.scss */
body .header .auth_nav li .login_lnk:hover {
  cursor: pointer;
}
/* line 509, ../sass/elements.scss */
body .header .auth_nav li .signup_lnk {
  color: #48ad42;
  font-weight: 400;
  border-radius: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -18px;
}
/* line 519, ../sass/elements.scss */
body .header .auth_nav li .signup_lnk:hover {
  background-color: #48ad42;
  color: white;
}
/* line 524, ../sass/elements.scss */
body .header .auth_nav li:first-child {
  margin-right: 12px;
}
/* line 530, ../sass/elements.scss */
body .header.m_toggle {
  left: -260px;
}
/* line 534, ../sass/elements.scss */
body .header.fixed {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
/* line 549, ../sass/elements.scss */
body .regular_content_block .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 553, ../sass/elements.scss */
body .regular_content_block .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 25px;
}
/* line 559, ../sass/elements.scss */
body .regular_content_block .disc {
  text-align: center;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 564, ../sass/elements.scss */
body .regular_content_block .disc span {
  font-size: 21px;
  font-weight: 200;
}
/* line 570, ../sass/elements.scss */
body .regular_content_block.bottom_border_line {
  border-bottom: solid 1px #c8d1d8;
}
/* line 575, ../sass/elements.scss */
body .footer {
  width: 100%;
  background-color: #222222;
  padding-top: 72px;
  padding-bottom: 48px;
}
/* line 580, ../sass/elements.scss */
body .footer .mini_logo {
  display: block;
  margin: 0 auto;
}
/* line 585, ../sass/elements.scss */
body .footer .partners_list li {
  float: left;
  margin-right: 20px;
}
/* line 589, ../sass/elements.scss */
body .footer .partners_list li:last-child {
  margin-right: 0px;
}
/* line 593, ../sass/elements.scss */
body .footer .foot_head {
  font-family: "Gotham Rounded SSm Medium", sans-serif;
  color: white;
  font-size: 21px;
}
/* line 598, ../sass/elements.scss */
body .footer .sub_footer_line {
  margin-top: 30px;
}
/* line 602, ../sass/elements.scss */
body .footer .foot_list li {
  margin-bottom: 20px;
}
/* line 604, ../sass/elements.scss */
body .footer .foot_list li a {
  font-size: 14px;
  color: #48ad42;
  line-height: 1.6em;
}
/* line 609, ../sass/elements.scss */
body .footer .foot_list li a:hover {
  text-decoration: none;
}
/* line 613, ../sass/elements.scss */
body .footer .foot_list li:last-child {
  margin-bottom: 0px;
}
/* line 618, ../sass/elements.scss */
body .footer .latest_blog_posts .foot_head, body .footer .latest_tweets .foot_head {
  margin-bottom: 30px;
}
/* line 622, ../sass/elements.scss */
body .footer .last_uptime {
  margin-top: 45px;
}
/* line 626, ../sass/elements.scss */
body .footer .high_credit_rating > p {
  font-family: "Gotham Rounded SSm Medium", sans-serif;
  color: white;
  font-size: 21px;
  margin-bottom: 21px;
}
/* line 638, ../sass/elements.scss */
body .footer .social_response {
  margin-top: 40px;
}
/* line 640, ../sass/elements.scss */
body .footer .social_response > p {
  font-family: "Gotham Rounded SSm Medium", sans-serif;
  color: white;
  font-size: 21px;
  margin-bottom: 21px;
}
/* line 647, ../sass/elements.scss */
body .footer .social_response > div > div:first-child {
  margin-right: 40px;
}

@media all and (max-width: 1064px) {
  /* line 661, ../sass/elements.scss */
  .header .head_nav ul li a {
    font-size: 14px !important;
  }
  /* line 670, ../sass/elements.scss */
  .header .auth_nav ul li a {
    font-size: 14px;
  }
}
@media all and (max-width: 991px) {
  /* line 690, ../sass/elements.scss */
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 694, ../sass/elements.scss */
  .container .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* line 700, ../sass/elements.scss */
  .header .head_nav {
    margin-left: 13px !important;
  }
  /* line 703, ../sass/elements.scss */
  .header .head_nav ul li {
    margin-left: 10px !important;
  }
  /* line 705, ../sass/elements.scss */
  .header .head_nav ul li a {
    font-size: 14px !important;
  }
  /* line 709, ../sass/elements.scss */
  .header .head_nav ul li:first-child {
    margin-left: 0px;
  }
  /* line 717, ../sass/elements.scss */
  .header .auth_nav ul li a {
    font-size: 14px;
  }
}
@media all and (max-width: 850px) {
  /* line 728, ../sass/elements.scss */
  .header > .container {
    padding-top: 0px !important;
  }
  /* line 731, ../sass/elements.scss */
  .header .head_nav, .header .auth_nav {
    display: none;
  }
  /* line 734, ../sass/elements.scss */
  .header .mob_nav_knob {
    display: block !important;
  }

  /* line 740, ../sass/elements.scss */
  .get_started_section .get_started_form_wrap button[type='submit'] {
    margin-top: 15px;
  }

  /* line 745, ../sass/elements.scss */
  .col_20.tuh_nav_block {
    display: none;
  }
}
@media all and (max-width: 568px) {
  /* line 756, ../sass/elements.scss */
  .footer .foot_head {
    text-align: center;
  }
  /* line 760, ../sass/elements.scss */
  .footer .foot_list li {
    text-align: center;
  }
  /* line 764, ../sass/elements.scss */
  .footer .footer_nav_block {
    float: none;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  /* line 771, ../sass/elements.scss */
  .footer .footer_nav_block .high_credit_rating p {
    text-align: center;
  }
  /* line 774, ../sass/elements.scss */
  .footer .footer_nav_block .high_credit_rating img {
    margin: 0 auto;
  }
  /* line 779, ../sass/elements.scss */
  .footer .footer_nav_block .social_response p {
    text-align: center;
  }
  /* line 785, ../sass/elements.scss */
  .footer .subfooter_nav_block {
    float: none;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
}
/* line 796, ../sass/elements.scss */
body.m_toggle {
  overflow: hidden;
}

/* line 4, ../sass/home.scss */
.get_started_section .get_started_form_wrap {
  margin-top: 68px;
}
/* line 6, ../sass/home.scss */
.get_started_section .get_started_form_wrap input[type='text'], .get_started_section .get_started_form_wrap input[type='email'], .get_started_section .get_started_form_wrap input[type='password'] {
  margin-right: 20px;
}
/* line 9, ../sass/home.scss */
.get_started_section .get_started_form_wrap button {
  color: white;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 21px;
}
/* line 19, ../sass/home.scss */
.get_started_section .get_started_form_wrap button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}
/* line 29, ../sass/home.scss */
.get_started_section .h {
  font-size: 48px;
  color: #222222;
  display: block;
  width: 700px;
  margin: 0 auto;
  text-align: center;
}
/* line 37, ../sass/home.scss */
.get_started_section .disc {
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
  font-weight: 200;
}
/* line 43, ../sass/home.scss */
.get_started_section .note {
  margin-top: 30px;
}
/* line 45, ../sass/home.scss */
.get_started_section .note p {
  font-size: 14px;
  font-weight: 200;
}

/* line 60, ../sass/home.scss */
.demo_screen_preview_section {
  position: relative;
  width: 100%;
  height: 562px;
  background: url("../images/home_page_mac_icons.png") #48ad42;
  background-size: cover;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 70, ../sass/home.scss */
.demo_screen_preview_section .play_btn_wrap {
  position: absolute;
  width: 100%;
  height: 80px;
  z-index: 2;
  top: 20px;
  top: -webkit-calc(50% - 40px);
  top: -moz-calc(50% - 40px);
  top: calc(50% - 40px);
}
/* line 79, ../sass/home.scss */
.demo_screen_preview_section .play_btn_wrap .play_btn {
  position: relative;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  -moz-transition: background-color 0.6s ease 0s;
  -webkit-transition: background-color 0.6s ease 0s;
  -ms-transition: background-color 0.6s ease 0s;
  -o-transition: background-color 0.6s ease 0s;
}
/* line 88, ../sass/home.scss */
.demo_screen_preview_section .play_btn_wrap .play_btn .p_icon {
  position: absolute;
  color: white;
  top: 18px;
  top: -webkit-calc(50% -18px);
  top: -moz-calc(50% - 18px);
  top: calc(50% - 18px);
  left: 14px;
  left: -webkit-calc(50% -12px);
  left: -moz-calc(50% - 12px);
  left: calc(50% - 12px);
}
/* line 101, ../sass/home.scss */
.demo_screen_preview_section .play_btn_wrap .play_btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* line 105, ../sass/home.scss */
.demo_screen_preview_section .image_holder {
  position: absolute;
  width: 100%;
  top: -35px;
}
/* line 109, ../sass/home.scss */
.demo_screen_preview_section .image_holder img {
  display: block;
  margin: 0 auto;
  max-width: 1120px;
}

/* line 118, ../sass/home.scss */
#demo_video_modal .modal-header {
  padding: 15px;
  border-bottom: none;
}
/* line 122, ../sass/home.scss */
#demo_video_modal .modal-header .close > span {
  font-size: 1.2em;
}

/* line 130, ../sass/home.scss */
.promotion_section .container {
  border-bottom: solid 1px #c8d1d8;
  padding-top: 50px !important;
}
/* line 135, ../sass/home.scss */
.promotion_section .promo_block .pic_holder {
  min-height: 59px;
}
/* line 137, ../sass/home.scss */
.promotion_section .promo_block .pic_holder img {
  display: block;
  margin: 0 auto;
}
/* line 141, ../sass/home.scss */
.promotion_section .promo_block .pic_holder img.mt_top {
  margin: 0 auto;
  margin-top: 7px;
}
/* line 147, ../sass/home.scss */
.promotion_section .note {
  margin-bottom: 30px;
}
/* line 149, ../sass/home.scss */
.promotion_section .note p {
  font-size: 18px;
  text-transform: uppercase;
}

/* line 158, ../sass/home.scss */
.choose_templates_section .container {
  border-bottom: solid 1px #c8d1d8;
}
/* line 161, ../sass/home.scss */
.choose_templates_section .templates_wrap {
  margin-top: 66px;
}
/* line 163, ../sass/home.scss */
.choose_templates_section .templates_wrap .mobile_templates_wrap {
  display: none;
}
/* line 166, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline {
  margin-bottom: 70px;
}
/* line 169, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside {
  position: relative;
  border: solid 2px #c8d1d8;
  border-radius: 2px;
}
/* line 173, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
/* line 181, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt {
  margin-top: 200px;
  margin-top: -webkit-calc(50% - 32px);
  margin-top: -moz-calc(50% - 32px);
  margin-top: calc(50% - 32px);
}
/* line 186, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
  color: #48ad42;
  font-size: 16px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 52px;
  padding: 17px 24px;
}
/* line 196, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:first-child {
  margin-right: 20px;
}
/* line 199, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:hover {
  background-color: #48ad42;
  color: white;
}
/* line 205, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside img {
  width: 100%;
  display: block;
}
/* line 211, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside:hover .hove_overlay {
  display: block;
}
/* line 217, ../sass/home.scss */
.choose_templates_section .templates_wrap .template_rline:last-child {
  margin-bottom: 0px;
}
/* line 221, ../sass/home.scss */
.choose_templates_section .cnt {
  margin-top: 82px;
}
/* line 223, ../sass/home.scss */
.choose_templates_section .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 230, ../sass/home.scss */
.choose_templates_section .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 5px;
}
/* line 239, ../sass/home.scss */
.choose_templates_section .cnt a:hover {
  background-color: #48ad42;
  color: white;
}
/* line 242, ../sass/home.scss */
.choose_templates_section .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 250, ../sass/home.scss */
.bus_standout .container {
  border-bottom: solid 1px #c8d1d8;
}
/* line 253, ../sass/home.scss */
.bus_standout .standout_block {
  margin-top: 40px;
}
/* line 256, ../sass/home.scss */
.bus_standout .standout_block .pic_holder img {
  display: block;
  margin: 0 auto;
}
/* line 261, ../sass/home.scss */
.bus_standout .standout_block .head {
  font-size: 21px;
  color: #222222;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 43px;
}
/* line 268, ../sass/home.scss */
.bus_standout .standout_block .desc {
  text-align: center;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 275, ../sass/home.scss */
.bus_standout .cnt {
  margin-top: 60px;
}
/* line 277, ../sass/home.scss */
.bus_standout .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 34px;
  padding: 17px 25px;
}
/* line 284, ../sass/home.scss */
.bus_standout .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 5px;
}
/* line 293, ../sass/home.scss */
.bus_standout .cnt a:hover {
  background-color: #48ad42;
  color: white;
}
/* line 296, ../sass/home.scss */
.bus_standout .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 304, ../sass/home.scss */
.our_word_section .our_word_block {
  margin-top: 40px;
  margin-bottom: 40px;
}
/* line 307, ../sass/home.scss */
.our_word_section .our_word_block .pic_holder {
  float: left;
}
/* line 309, ../sass/home.scss */
.our_word_section .our_word_block .pic_holder img {
  width: 100%;
  display: block;
}
/* line 314, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder {
  float: right;
}
/* line 316, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .h {
  font-size: 26px;
  color: #222222;
  margin-bottom: 25px;
  text-align: left;
  margin-top: 65px;
}
/* line 323, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .desc {
  font-size: 16px;
  margin-bottom: 42px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 329, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .disc {
  text-align: left;
}
/* line 331, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .disc .n {
  font-size: 16px;
  color: #222222;
}
/* line 335, ../sass/home.scss */
.our_word_section .our_word_block .desc_holder .disc .e {
  font-size: 16px;
  color: #48ad42;
}
/* line 342, ../sass/home.scss */
.our_word_section .our_word_block:last-child {
  margin-bottom: 0px;
}
/* line 346, ../sass/home.scss */
.our_word_section .our_word_block:nth-child(odd) .owb_holder:nth-child(1) {
  float: right;
}
/* line 349, ../sass/home.scss */
.our_word_section .our_word_block:nth-child(odd) .owb_holder:nth-child(2) {
  float: left;
}
/* line 352, ../sass/home.scss */
.our_word_section .our_word_block:nth-child(odd) .pic_holder {
  float: right;
}
/* line 355, ../sass/home.scss */
.our_word_section .our_word_block:nth-child(odd) .desc_holder {
  float: left;
}
/* line 359, ../sass/home.scss */
.our_word_section .cnt {
  margin-top: 72px;
}
/* line 361, ../sass/home.scss */
.our_word_section .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 368, ../sass/home.scss */
.our_word_section .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 5px;
}
/* line 377, ../sass/home.scss */
.our_word_section .cnt a:hover {
  background-color: #48ad42;
  color: white;
}
/* line 380, ../sass/home.scss */
.our_word_section .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 388, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap {
  margin-top: 43px;
}
/* line 390, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap input[type='text'], .start_trial_section .start_trial_form_wrap input[type='email'], .start_trial_section .start_trial_form_wrap input[type='password'] {
  margin-right: 20px;
}
/* line 393, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap .cnt {
  margin-top: 43px;
}
/* line 395, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap .cnt button {
  color: white;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 402, ../sass/home.scss */
.start_trial_section .start_trial_form_wrap .cnt button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}

/* line 415, ../sass/home.scss */
.twitter_feed_section {
  background-color: #f5f6f6;
}
/* line 417, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder {
  margin-top: 60px;
}
/* line 419, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder > div {
  margin-bottom: 15px;
}
/* line 422, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block {
  background: white;
  padding: 10px;
}
/* line 426, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block .user img {
  display: inline-block;
  vertical-align: middle;
}
/* line 431, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block .user a span:nth-child(3) {
  color: #f79646;
}
/* line 436, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block .timePosted {
  display: none;
}
/* line 439, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block .tweet {
  margin-top: 10px;
}
/* line 442, ../sass/home.scss */
.twitter_feed_section .twitter_feed_holder .tweet_block a {
  color: #f79646;
}

@media all and (max-width: 991px) {
  /* line 453, ../sass/home.scss */
  .demo_screen_preview_section .image_holder img {
    width: 90%;
  }
}
@media all and (max-width: 991px) {
  /* line 469, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
    font-size: 14px !important;
    padding: 14px 15px !important;
  }
  /* line 473, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:first-child {
    margin-right: 10px;
  }

  /* line 485, ../sass/home.scss */
  .our_word_section .owb_holder {
    float: none;
    width: 100%;
  }
  /* line 488, ../sass/home.scss */
  .our_word_section .owb_holder .pic_holder, .our_word_section .owb_holder .desc_holder {
    float: none !important;
  }
}
@media (max-width: 804px) {
  /* line 499, ../sass/home.scss */
  .choose_templates_section .templates_wrap .mobile_templates_wrap {
    display: block;
  }
  /* line 502, ../sass/home.scss */
  .choose_templates_section .templates_wrap .desktop_templates_wrap {
    display: none;
  }
  /* line 506, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold {
    margin-bottom: 20px;
  }
  /* line 511, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a:first-child {
    display: none;
  }
  /* line 514, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold .template_hold_inside .hove_overlay .cnt a {
    font-size: 18px !important;
    padding: 17px 31px !important;
  }
  /* line 522, ../sass/home.scss */
  .choose_templates_section .templates_wrap .template_rline .template_hold:last-child {
    margin-bottom: 0px;
  }

  /* line 529, ../sass/home.scss */
  .promotion_section .promo_block {
    margin-bottom: 20px;
  }
  /* line 532, ../sass/home.scss */
  .promotion_section .promo_block:last-child {
    margin-bottom: 0px;
  }

  /* line 537, ../sass/home.scss */
  .bus_standout .standout_block {
    margin-bottom: 20px;
  }
  /* line 540, ../sass/home.scss */
  .bus_standout .standout_block:last-child {
    margin-bottom: 0px;
  }

  /* line 546, ../sass/home.scss */
  .get_started_section .h {
    width: auto;
    font-size: 32px;
  }
}
@media all and (max-width: 640px) {
  /* line 557, ../sass/home.scss */
  .twitter_feed_section .twitter_feed_holder .twitter_feed_row > div {
    float: none;
    width: 100%;
  }
  /* line 561, ../sass/home.scss */
  .twitter_feed_section .twitter_feed_holder .twitter_feed_row > div:first-child {
    margin-bottom: 15px;
  }
}
@media all and (max-width: 400px) {
  /* line 598, ../sass/home.scss */
  .choose_templates_section .h, .get_started_section .h, .promotion_section .h, .bus_standout .h, .our_word_section .h, .start_trial_section .h {
    font-size: 24px;
  }
  /* line 601, ../sass/home.scss */
  .choose_templates_section .disc, .get_started_section .disc, .promotion_section .disc, .bus_standout .disc, .our_word_section .disc, .start_trial_section .disc {
    font-size: 18px;
  }

  /* line 607, ../sass/home.scss */
  .choose_templates_section > .container, .bus_standout > .container, .our_word_section > .container, .start_trial_section > .container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* line 614, ../sass/home.scss */
  .get_started_section > .container {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  /* line 618, ../sass/home.scss */
  .get_started_section .get_started_form_wrap {
    margin-top: 35px;
  }
  /* line 620, ../sass/home.scss */
  .get_started_section .get_started_form_wrap .form-group {
    display: none;
  }
  /* line 624, ../sass/home.scss */
  .get_started_section .disc, .get_started_section .note {
    display: none;
  }
  /* line 627, ../sass/home.scss */
  .get_started_section .h {
    font-size: 28px !important;
  }

  /* line 637, ../sass/home.scss */
  .promotion_section .container {
    padding-top: 0px;
  }
  /* line 642, ../sass/home.scss */
  .promotion_section .promo_block .pic_holder img.mt_top {
    width: 100%;
  }

  /* line 650, ../sass/home.scss */
  .our_word_section .our_word_block {
    margin-bottom: 0px;
  }
  /* line 653, ../sass/home.scss */
  .our_word_section .our_word_block .desc_holder .h {
    font-size: 22px;
  }
  /* line 656, ../sass/home.scss */
  .our_word_section .our_word_block .desc_holder .desc {
    font-size: 14px;
  }

  /* line 665, ../sass/home.scss */
  .choose_templates_section .cnt a, .bus_standout .cnt a, .our_word_section .cnt a {
    font-size: 16px;
  }
}
