@import url("elements.css");
/* line 4, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-inner {
  background-color: rgba(76, 80, 89, 0.8);
  max-width: 230px;
  width: 230px;
  padding: 15px;
}
/* line 9, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-inner p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 14px !important;
  color: #fff !important;
  font-weight: 200;
  text-align: left !important;
}
/* line 18, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-inner:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 26, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-arrow {
  border-right-color: rgba(76, 80, 89, 0.8);
}

/* line 30, ../sass/pricing.scss */
.info_icon + .tooltip.in {
  opacity: 1;
}

/* line 33, ../sass/pricing.scss */
* html .info_icon + .tooltip .tooltip-inner {
  zoom: 1;
}

/* IE6 */
/* line 34, ../sass/pricing.scss */
*:first-child + html .info_icon + .tooltip .tooltip-inner {
  zoom: 1;
}

/* IE7 */
/* line 37, ../sass/pricing.scss */
.pricing_section .container {
  padding-top: 94px;
  padding-bottom: 102px;
  border-bottom: solid 1px #c8d1d8;
}
/* line 42, ../sass/pricing.scss */
.pricing_section .h {
  font-size: 48px;
  color: #222222;
  text-align: center;
  margin-bottom: 26px;
}
/* line 48, ../sass/pricing.scss */
.pricing_section .disc {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
}
/* line 52, ../sass/pricing.scss */
.pricing_section .disc span {
  font-size: 24px;
  font-weight: 200;
}
/* line 57, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap {
  width: 705px;
  margin: 0 auto;
  margin-top: 80px;
}
/* line 62, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs {
  border-bottom: solid 2px #dfe4e9;
}
/* line 64, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li {
  position: relative;
  margin-bottom: -2px;
}
/* line 67, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li a {
  font-size: 16px;
  padding: 20px 30px;
}
/* line 73, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li.active a {
  color: #48ad42;
}
/* line 78, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li:not(.active) a:hover {
  color: #48ad42;
  background-color: transparent;
  border-color: transparent;
}
/* line 84, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li:first-child {
  margin-left: 170px;
}
/* line 88, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs > li.active > a, .pricing_section .pricing_tabs_wrap .nav-tabs > li.active > a:hover, .pricing_section .pricing_tabs_wrap .nav-tabs > li.active > a:focus {
  border: solid 2px #dfe4e9;
  border-bottom-color: transparent;
}
/* line 94, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box {
  margin-top: 60px;
  border-radius: 4px;
  border: solid 2px #e2e6e9;
}
/* line 98, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .headline {
  font-size: 26px;
  color: #222222;
  font-weight: 400;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;
}
/* line 106, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line {
  height: 90px;
  background: #f6f8f8;
  padding-top: 12px;
}
/* line 110, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line {
  margin-bottom: 8px;
  text-align: center;
}
/* line 113, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line span {
  color: #48ad42;
}
/* line 116, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line .one {
  font-size: 32px;
}
/* line 119, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line .two {
  font-size: 24px;
}
/* line 123, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .dcost_line {
  font-size: 14px;
  color: #48ad42;
  text-align: center;
}
/* line 130, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p {
  text-align: center;
  color: #030303;
  font-size: 16px;
  margin-top: 35px;
}
/* line 135, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p span {
  color: #030303;
  font-size: 16px;
}
/* line 139, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p .info_icon {
  vertical-align: middle;
  display: inline;
  margin-left: 10px;
  cursor: pointer;
}
/* line 146, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p:last-child {
  margin-bottom: 35px;
}
/* line 151, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active {
  border: solid 2px #48ad42;
}
/* line 153, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .pay_line {
  background: #48ad42;
}
/* line 156, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .pay_line .pcost_line span {
  color: #fff;
}
/* line 160, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .pay_line .dcost_line {
  color: #fff;
}
/* line 164, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .foot {
  height: 56px;
  background: #48ad42;
}
/* line 171, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .cnt {
  margin-top: 68px;
}
/* line 173, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .cnt a {
  color: #fff;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 180, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}

/* line 195, ../sass/pricing.scss */
.bus_standout .container {
  padding-top: 94px;
  padding-bottom: 102px;
  border-bottom: solid 1px #c8d1d8;
}
/* line 200, ../sass/pricing.scss */
.bus_standout .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 26px;
  margin-bottom: 69px;
}
/* line 209, ../sass/pricing.scss */
.bus_standout .standout_block .pic_holder img {
  display: block;
  margin: 0 auto;
}
/* line 214, ../sass/pricing.scss */
.bus_standout .standout_block .head {
  font-size: 21px;
  color: #222222;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 43px;
}
/* line 221, ../sass/pricing.scss */
.bus_standout .standout_block .desc {
  text-align: center;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 200;
}
/* line 228, ../sass/pricing.scss */
.bus_standout .cnt {
  margin-top: 60px;
}
/* line 230, ../sass/pricing.scss */
.bus_standout .cnt a {
  color: #48ad42;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: transparent;
  border-radius: 34px;
  padding: 17px 25px;
}
/* line 237, ../sass/pricing.scss */
.bus_standout .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r.png");
  width: 25px;
  height: 19px;
}
/* line 245, ../sass/pricing.scss */
.bus_standout .cnt a:hover {
  background-color: #48ad42;
  color: #fff;
}
/* line 248, ../sass/pricing.scss */
.bus_standout .cnt a:hover .arrow_wrap {
  background: url("../images/white_arrow_r.png");
}

/* line 256, ../sass/pricing.scss */
.faq_section .container {
  padding-top: 94px;
  padding-bottom: 102px;
  border-bottom: solid 1px #c8d1d8;
}
/* line 261, ../sass/pricing.scss */
.faq_section .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 26px;
}
/* line 267, ../sass/pricing.scss */
.faq_section .disc {
  text-align: center;
  font-size: 21px;
  font-weight: 200;
  margin-bottom: 70px;
}
/* line 272, ../sass/pricing.scss */
.faq_section .disc span {
  font-size: 21px;
  font-weight: 200;
}
/* line 277, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec {
  margin-bottom: 53px;
}
/* line 280, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec .faq_block .faq_h {
  font-size: 21px;
  color: #222222;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 286, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec .faq_block .faq_desc {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 200;
}
/* line 293, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec:last-child {
  margin-bottom: 0px;
}

/* line 300, ../sass/pricing.scss */
.start_trial_section .container {
  padding-top: 85px;
  padding-bottom: 102px;
}
/* line 304, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap {
  margin-top: 43px;
}
/* line 306, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap input[type='text'], .start_trial_section .start_trial_form_wrap input[type='email'], .start_trial_section .start_trial_form_wrap input[type='password'] {
  margin-right: 20px;
}
/* line 309, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap .cnt {
  margin-top: 43px;
}
/* line 311, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap .cnt button {
  color: #fff;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 318, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap .cnt button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}
/* line 329, ../sass/pricing.scss */
.start_trial_section .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
}
/* line 334, ../sass/pricing.scss */
.start_trial_section .disc {
  text-align: center;
  font-size: 21px;
  margin-top: 24px;
  font-weight: 200;
}

@media (max-width: 767px) {
  /* line 344, ../sass/pricing.scss */
  .bus_standout .standout_block {
    margin-bottom: 20px;
  }
  /* line 347, ../sass/pricing.scss */
  .bus_standout .standout_block:last-child {
    margin-bottom: 0px;
  }

  /* line 352, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap {
    height: auto;
    width: 100%;
  }
  /* line 356, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li:first-child {
    margin-left: 0px;
  }
}
@media all and (max-width: 640px) {
  /* line 367, ../sass/pricing.scss */
  .faq_section .faq_blocks_rsec .faq_block {
    float: none;
    width: 100%;
    margin-bottom: 53px;
  }
  /* line 372, ../sass/pricing.scss */
  .faq_section .faq_blocks_rsec .faq_block:last-child {
    margin-bottom: 0px;
  }
}
@media all and (max-width: 400px) {
  /* line 381, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap {
    height: auto;
    width: 100%;
  }
  /* line 384, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav {
    padding-left: 0px !important;
    width: 100%;
    border-bottom: none !important;
  }
  /* line 388, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li {
    float: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  /* line 392, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li a {
    text-align: center;
    border-radius: 0px;
  }
  /* line 398, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li.active a, .pricing_section .pricing_tabs_wrap .nav li.active a:hover, .pricing_section .pricing_tabs_wrap .nav li.active a:focus {
    border-bottom-color: #dddddd;
  }
  /* line 402, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li:first-child {
    margin-left: 0px;
  }
  /* line 407, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .tab-content .price_box_wrap {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  /* line 412, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .tab-content .price_box_wrap:last-child {
    margin-bottom: 0px;
  }
}
