/* line 17, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Users/user/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/elements.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  color: red;
  clear: both;
  height: 0;
}

/* line 17, ../sass/elements.scss */
* html .clearfix {
  zoom: 1;
}

/* IE6 */
/* line 18, ../sass/elements.scss */
*:first-child + html .clearfix {
  zoom: 1;
}

/* IE7 */
/* line 20, ../sass/elements.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 25, ../sass/elements.scss */
body {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 12px;
  background: white;
  color: #5d6974;
  line-height: 1.3;
  overflow-x: hidden;
  overflow-y: auto;
}
/* line 36, ../sass/elements.scss */
body p, body a, body button, body h1, body h2, body h3, body h4, body h5, body h6, body input, body textarea, body select, body table td, body table th, body span, body li, body label, body div {
  font-family: 'Gotham Rounded SSm A', 'Gotham Rounded SSm B', sans-serif;
  font-size: 12px;
  color: #5d6974;
  webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 44, ../sass/elements.scss */
body a, body button {
  -moz-transition: color 0.6s ease 0s;
  -webkit-transition: color 0.6s ease 0s;
  -ms-transition: color 0.6s ease 0s;
  -o-transition: color 0.6s ease 0s;
  -moz-transition: background-color 0.6s ease 0s;
  -webkit-transition: background-color 0.6s ease 0s;
  -ms-transition: background-color 0.6s ease 0s;
  -o-transition: background-color 0.6s ease 0s;
}
/* line 49, ../sass/elements.scss */
body a:hover {
  text-decoration: none !important;
  color: #5d6974;
}
/* line 54, ../sass/elements.scss */
body input[type='text'], body input[type='email'], body input[type='password'] {
  height: 54px;
}
/* line 58, ../sass/elements.scss */
body textarea.form-control {
  resize: none;
  height: 200px;
}
/* line 63, ../sass/elements.scss */
body input[type='text']:focus, body input[type='text']:active, body input[type='email']:focus, body input[type='email']:active, body input[type='password']:focus, body input[type='password']:active, body textarea.form-control:active, body textarea.form-control:focus {
  border-color: #48ad42;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(72, 173, 66, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(72, 173, 66, 0.6);
}
/* line 69, ../sass/elements.scss */
body .form-control::-moz-placeholder {
  color: #c8d1d8;
  opacity: 1;
}
/* line 73, ../sass/elements.scss */
body .form-control:-ms-input-placeholder {
  color: #c8d1d8;
}
/* line 76, ../sass/elements.scss */
body .form-control::-webkit-input-placeholder {
  color: #c8d1d8;
}
/* line 80, ../sass/elements.scss */
body .col_25 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}
/* line 86, ../sass/elements.scss */
body .col_20 {
  display: inline-block;
  width: 18.5%;
  vertical-align: top;
}
/* line 92, ../sass/elements.scss */
body .col_19 {
  display: inline-block;
  width: 19%;
  vertical-align: top;
}
/* line 98, ../sass/elements.scss */
body .col_20_or {
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
/* line 104, ../sass/elements.scss */
body .row_relative {
  position: relative;
}
/* line 108, ../sass/elements.scss */
body .green_text {
  color: #48ad42;
}
/* line 112, ../sass/elements.scss */
body .boldy {
  font-weight: 600;
}
/* line 116, ../sass/elements.scss */
body .boldy_m {
  font-weight: 500;
}
/* line 120, ../sass/elements.scss */
body .display_inline_block {
  display: inline-block;
}
/* line 124, ../sass/elements.scss */
body .mobile_sidebar_menu {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 260px;
  height: 300px;
  background: black;
  z-index: 100;
  transition: right .25s ease-out;
  -moz-transition: right .25s ease-out;
  -webkit-transition: right .25s ease-out;
  -ms-transition: right .25s ease-out;
  -o-transition: right .25s ease-out;
  min-height: 100%;
  padding: 0 40px;
}
/* line 144, ../sass/elements.scss */
body .mobile_sidebar_menu ul li a {
  line-height: 26px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  color: #666666;
}
/* line 151, ../sass/elements.scss */
body .mobile_sidebar_menu ul li a:hover, body .mobile_sidebar_menu ul li a.active {
  color: white;
  text-decoration: none;
}
/* line 157, ../sass/elements.scss */
body .mobile_sidebar_menu .reg_ul {
  margin-top: 30px;
}
/* line 160, ../sass/elements.scss */
body .mobile_sidebar_menu .auth_ul {
  margin-top: 20px;
}
/* line 163, ../sass/elements.scss */
body .mobile_sidebar_menu .social_lnk_panel {
  margin-top: 20px;
}
/* line 166, ../sass/elements.scss */
body .mobile_sidebar_menu .social_lnk_panel ul li:first-child {
  margin-right: 25px;
}
/* line 171, ../sass/elements.scss */
body .mobile_sidebar_menu .mob_get_started_btn {
  margin-bottom: 10px;
  padding: 8px 10px;
  border-radius: 10px;
}
/* line 176, ../sass/elements.scss */
body .mobile_sidebar_menu .mob_get_started_btn:hover {
  color: white;
}
/* line 180, ../sass/elements.scss */
body .mobile_sidebar_menu .mob_close_inside {
  cursor: pointer;
  font-size: 2em;
  margin-left: 20px;
}
/* line 186, ../sass/elements.scss */
body .mobile_sidebar_menu.m_toggle {
  display: block;
  right: 0px;
}
/* line 191, ../sass/elements.scss */
body #root {
  position: relative;
  left: 0px;
  padding-top: 105px;
  transition: left .25s ease-out;
  -moz-transition: left .25s ease-out;
  -webkit-transition: left .25s ease-out;
  -ms-transition: left .25s ease-out;
  -o-transition: left .25s ease-out;
}
/* line 202, ../sass/elements.scss */
body #root.m_toggle {
  left: -260px;
}
/* line 206, ../sass/elements.scss */
body .non_margins_row {
  margin-left: 0px;
  margin-right: 0px;
}
/* line 211, ../sass/elements.scss */
body .non_padd_container {
  padding-left: 0px;
  padding-right: 0px;
}
/* line 216, ../sass/elements.scss */
body .text-left {
  text-align: left !important;
}
/* line 241, ../sass/elements.scss */
body .btn {
  background-color: transparent;
  border: 2px solid #48ad42;
  color: #48ad42;
  padding: 16px 30px;
  font-size: 18px;
  border-radius: 30px;
}
/* line 249, ../sass/elements.scss */
body .btn:hover, body .btn:active {
  background-color: #48ad42;
  color: white;
}
/* line 253, ../sass/elements.scss */
body .btn.filled {
  background-color: #48ad42;
  color: white;
}
/* line 258, ../sass/elements.scss */
body .btn.blue_theme {
  color: #2ba8d6;
  border: solid 2px #2ba8d6;
}
/* line 262, ../sass/elements.scss */
body .btn.blue_theme:hover, body .btn.blue_theme:active {
  background-color: #2ba8d6;
  color: white;
}
/* line 266, ../sass/elements.scss */
body .btn.blue_theme.filled {
  background-color: #2ba8d6;
  color: white;
}
/* line 271, ../sass/elements.scss */
body .btn.purple_theme {
  color: #f24985;
  border: solid 2px #f24985;
}
/* line 275, ../sass/elements.scss */
body .btn.purple_theme:hover, body .btn.purple_theme:active {
  background-color: #f24985;
  color: white;
}
/* line 279, ../sass/elements.scss */
body .btn.purple_theme.filled {
  background-color: #f24985;
  color: white;
}
/* line 370, ../sass/elements.scss */
body .full_w {
  width: 100%;
}
/* line 376, ../sass/elements.scss */
body .modal-backdrop {
  z-index: 0;
  display: none;
}
/* line 380, ../sass/elements.scss */
body .header {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 8;
  transition: left .25s ease-out;
  -moz-transition: left .25s ease-out;
  -webkit-transition: left .25s ease-out;
  -ms-transition: left .25s ease-out;
  -o-transition: left .25s ease-out;
  width: 100%;
  padding-bottom: 22px;
  background: white;
}
/* line 395, ../sass/elements.scss */
body .header > .container {
  padding-top: 14px;
}
/* line 398, ../sass/elements.scss */
body .header .top_under_header {
  background: #f4f4f4;
  height: 0px;
  overflow: hidden;
  transition: height .25s ease-out;
  -moz-transition: height .25s ease-out;
  -webkit-transition: height .25s ease-out;
  -ms-transition: height .25s ease-out;
  -o-transition: height .25s ease-out;
}
/* line 408, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block > p {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #575d64;
}
/* line 415, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul {
  margin-bottom: 10px;
}
/* line 417, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul li {
  margin-bottom: 5px;
}
/* line 419, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul li a {
  color: #575d64;
  line-height: 24px;
  font-size: 14px;
  font-weight: 200;
}
/* line 426, ../sass/elements.scss */
body .header .top_under_header .tuh_nav_block ul li:last-child {
  margin-bottom: 0px;
}
/* line 431, ../sass/elements.scss */
body .header .top_under_header .tuh_close {
  position: absolute;
  top: 10px;
  right: 0;
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  font-size: 24px;
  font-weight: 300;
  line-height: 20px;
  color: #575d64;
  text-shadow: 0 1px 0 white;
  opacity: 0.8;
}
/* line 447, ../sass/elements.scss */
body .header .top_under_header .tuh_close:hover {
  opacity: 1;
}
/* line 451, ../sass/elements.scss */
body .header .top_under_header.act {
  height: 215px;
}
/* line 455, ../sass/elements.scss */
body .header .logo {
  width: 176px;
  height: 34px;
  margin-top: 22px;
}
/* line 459, ../sass/elements.scss */
body .header .logo img {
  display: block;
  width: 100%;
}
/* line 464, ../sass/elements.scss */
body .header .mob_nav_knob {
  display: none;
  margin-top: 26px;
}
/* line 468, ../sass/elements.scss */
body .header .mob_nav_knob a span {
  font-size: 2.5em;
}
/* line 473, ../sass/elements.scss */
body .header .head_nav {
  margin-left: 45px;
  margin-top: 31px;
}
/* line 477, ../sass/elements.scss */
body .header .head_nav ul li {
  float: left;
  margin-left: 35px;
}
/* line 480, ../sass/elements.scss */
body .header .head_nav ul li a {
  font-size: 16px;
  color: #5d6974;
  font-weight: 400;
}
/* line 485, ../sass/elements.scss */
body .header .head_nav ul li a:hover {
  text-decoration: none;
}
/* line 489, ../sass/elements.scss */
body .header .head_nav ul li:first-child {
  margin-left: 0px;
}
/* line 494, ../sass/elements.scss */
body .header .auth_nav {
  margin-top: 31px;
}
/* line 496, ../sass/elements.scss */
body .header .auth_nav li {
  float: left;
}
/* line 498, ../sass/elements.scss */
body .header .auth_nav li a {
  font-size: 16px;
  color: #5d6974;
  font-weight: 400;
}
/* line 503, ../sass/elements.scss */
body .header .auth_nav li a:hover {
  text-decoration: none;
}
/* line 506, ../sass/elements.scss */
body .header .auth_nav li .login_lnk:hover {
  cursor: pointer;
}
/* line 509, ../sass/elements.scss */
body .header .auth_nav li .signup_lnk {
  color: #48ad42;
  font-weight: 400;
  border-radius: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -18px;
}
/* line 519, ../sass/elements.scss */
body .header .auth_nav li .signup_lnk:hover {
  background-color: #48ad42;
  color: white;
}
/* line 524, ../sass/elements.scss */
body .header .auth_nav li:first-child {
  margin-right: 12px;
}
/* line 530, ../sass/elements.scss */
body .header.m_toggle {
  left: -260px;
}
/* line 534, ../sass/elements.scss */
body .header.fixed {
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}
/* line 549, ../sass/elements.scss */
body .regular_content_block .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
/* line 553, ../sass/elements.scss */
body .regular_content_block .h {
  font-size: 36px;
  color: #222222;
  text-align: center;
  margin-bottom: 25px;
}
/* line 559, ../sass/elements.scss */
body .regular_content_block .disc {
  text-align: center;
  font-size: 21px;
  font-weight: 200;
  line-height: 1.6em;
}
/* line 564, ../sass/elements.scss */
body .regular_content_block .disc span {
  font-size: 21px;
  font-weight: 200;
}
/* line 570, ../sass/elements.scss */
body .regular_content_block.bottom_border_line {
  border-bottom: solid 1px #c8d1d8;
}
/* line 575, ../sass/elements.scss */
body .footer {
  width: 100%;
  background-color: #222222;
  padding-top: 72px;
  padding-bottom: 48px;
}
/* line 580, ../sass/elements.scss */
body .footer .mini_logo {
  display: block;
  margin: 0 auto;
}
/* line 585, ../sass/elements.scss */
body .footer .partners_list li {
  float: left;
  margin-right: 20px;
}
/* line 589, ../sass/elements.scss */
body .footer .partners_list li:last-child {
  margin-right: 0px;
}
/* line 593, ../sass/elements.scss */
body .footer .foot_head {
  font-family: "Gotham Rounded SSm Medium", sans-serif;
  color: white;
  font-size: 21px;
}
/* line 598, ../sass/elements.scss */
body .footer .sub_footer_line {
  margin-top: 30px;
}
/* line 602, ../sass/elements.scss */
body .footer .foot_list li {
  margin-bottom: 20px;
}
/* line 604, ../sass/elements.scss */
body .footer .foot_list li a {
  font-size: 14px;
  color: #48ad42;
  line-height: 1.6em;
}
/* line 609, ../sass/elements.scss */
body .footer .foot_list li a:hover {
  text-decoration: none;
}
/* line 613, ../sass/elements.scss */
body .footer .foot_list li:last-child {
  margin-bottom: 0px;
}
/* line 618, ../sass/elements.scss */
body .footer .latest_blog_posts .foot_head, body .footer .latest_tweets .foot_head {
  margin-bottom: 30px;
}
/* line 622, ../sass/elements.scss */
body .footer .last_uptime {
  margin-top: 45px;
}
/* line 626, ../sass/elements.scss */
body .footer .high_credit_rating > p {
  font-family: "Gotham Rounded SSm Medium", sans-serif;
  color: white;
  font-size: 21px;
  margin-bottom: 21px;
}
/* line 638, ../sass/elements.scss */
body .footer .social_response {
  margin-top: 40px;
}
/* line 640, ../sass/elements.scss */
body .footer .social_response > p {
  font-family: "Gotham Rounded SSm Medium", sans-serif;
  color: white;
  font-size: 21px;
  margin-bottom: 21px;
}
/* line 647, ../sass/elements.scss */
body .footer .social_response > div > div:first-child {
  margin-right: 40px;
}

@media all and (max-width: 1064px) {
  /* line 661, ../sass/elements.scss */
  .header .head_nav ul li a {
    font-size: 14px !important;
  }
  /* line 670, ../sass/elements.scss */
  .header .auth_nav ul li a {
    font-size: 14px;
  }
}
@media all and (max-width: 991px) {
  /* line 690, ../sass/elements.scss */
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  /* line 694, ../sass/elements.scss */
  .container .row {
    margin-left: 0px;
    margin-right: 0px;
  }

  /* line 700, ../sass/elements.scss */
  .header .head_nav {
    margin-left: 13px !important;
  }
  /* line 703, ../sass/elements.scss */
  .header .head_nav ul li {
    margin-left: 10px !important;
  }
  /* line 705, ../sass/elements.scss */
  .header .head_nav ul li a {
    font-size: 14px !important;
  }
  /* line 709, ../sass/elements.scss */
  .header .head_nav ul li:first-child {
    margin-left: 0px;
  }
  /* line 717, ../sass/elements.scss */
  .header .auth_nav ul li a {
    font-size: 14px;
  }
}
@media all and (max-width: 850px) {
  /* line 728, ../sass/elements.scss */
  .header > .container {
    padding-top: 0px !important;
  }
  /* line 731, ../sass/elements.scss */
  .header .head_nav, .header .auth_nav {
    display: none;
  }
  /* line 734, ../sass/elements.scss */
  .header .mob_nav_knob {
    display: block !important;
  }

  /* line 740, ../sass/elements.scss */
  .get_started_section .get_started_form_wrap button[type='submit'] {
    margin-top: 15px;
  }

  /* line 745, ../sass/elements.scss */
  .col_20.tuh_nav_block {
    display: none;
  }
}
@media all and (max-width: 568px) {
  /* line 756, ../sass/elements.scss */
  .footer .foot_head {
    text-align: center;
  }
  /* line 760, ../sass/elements.scss */
  .footer .foot_list li {
    text-align: center;
  }
  /* line 764, ../sass/elements.scss */
  .footer .footer_nav_block {
    float: none;
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
  }
  /* line 771, ../sass/elements.scss */
  .footer .footer_nav_block .high_credit_rating p {
    text-align: center;
  }
  /* line 774, ../sass/elements.scss */
  .footer .footer_nav_block .high_credit_rating img {
    margin: 0 auto;
  }
  /* line 779, ../sass/elements.scss */
  .footer .footer_nav_block .social_response p {
    text-align: center;
  }
  /* line 785, ../sass/elements.scss */
  .footer .subfooter_nav_block {
    float: none;
    width: 80%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
  }
}
/* line 796, ../sass/elements.scss */
body.m_toggle {
  overflow: hidden;
}

/* line 4, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-inner {
  background-color: rgba(76, 80, 89, 0.8);
  max-width: 230px;
  width: 230px;
  padding: 15px;
}
/* line 9, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-inner p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 14px !important;
  color: white !important;
  font-weight: 200;
  text-align: left !important;
}
/* line 18, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-inner:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 26, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-arrow {
  border-right-color: rgba(76, 80, 89, 0.8);
}

/* line 30, ../sass/pricing.scss */
.info_icon + .tooltip.in {
  opacity: 1;
}

/* line 33, ../sass/pricing.scss */
* html .info_icon + .tooltip .tooltip-inner {
  zoom: 1;
}

/* IE6 */
/* line 34, ../sass/pricing.scss */
*:first-child + html .info_icon + .tooltip .tooltip-inner {
  zoom: 1;
}

/* IE7 */
/* line 37, ../sass/pricing.scss */
.pricing_section .container {
  border-bottom: solid 1px #c8d1d8;
}
/* line 40, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap {
  width: 705px;
  margin: 0 auto;
  margin-top: 80px;
}
/* line 45, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs {
  border-bottom: solid 2px #dfe4e9;
}
/* line 47, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li {
  position: relative;
  margin-bottom: -2px;
}
/* line 50, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li a {
  font-size: 16px;
  padding: 20px 30px;
}
/* line 56, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li.active a {
  color: #48ad42;
}
/* line 61, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li:not(.active) a:hover {
  color: #48ad42;
  background-color: transparent;
  border-color: transparent;
}
/* line 67, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li:first-child {
  margin-left: 170px;
}
/* line 71, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs > li.active > a, .pricing_section .pricing_tabs_wrap .nav-tabs > li.active > a:hover, .pricing_section .pricing_tabs_wrap .nav-tabs > li.active > a:focus {
  border: solid 2px #dfe4e9;
  border-bottom-color: transparent;
}
/* line 77, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box {
  margin-top: 60px;
  border-radius: 4px;
  border: solid 2px #dfe4e9;
}
/* line 81, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .headline {
  font-size: 26px;
  color: #222222;
  font-weight: 400;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;
}
/* line 89, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line {
  height: 90px;
  background: #f6f8f8;
  padding-top: 12px;
}
/* line 93, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line {
  margin-bottom: 8px;
  text-align: center;
}
/* line 96, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line span {
  color: #48ad42;
}
/* line 99, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line .one {
  font-size: 32px;
}
/* line 102, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line .two {
  font-size: 24px;
}
/* line 106, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .dcost_line {
  font-size: 14px;
  color: #48ad42;
  text-align: center;
}
/* line 113, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p {
  text-align: center;
  color: #222222;
  font-size: 16px;
  margin-top: 35px;
}
/* line 118, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p span {
  color: #222222;
  font-size: 16px;
}
/* line 122, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p .info_icon {
  vertical-align: middle;
  display: inline;
  margin-left: 10px;
  cursor: pointer;
}
/* line 129, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p:last-child {
  margin-bottom: 35px;
}
/* line 134, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active {
  border: solid 2px #48ad42;
}
/* line 136, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .pay_line {
  background: #48ad42;
}
/* line 139, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .pay_line .pcost_line span {
  color: white;
}
/* line 143, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .pay_line .dcost_line {
  color: white;
}
/* line 147, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .foot {
  height: 56px;
  background: #48ad42;
}
/* line 154, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .cnt {
  margin-top: 68px;
}
/* line 156, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .cnt a {
  color: white;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 163, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}
/* line 173, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .note {
  margin-top: 68px;
}
/* line 175, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .note p {
  font-size: 14px;
  font-weight: 200;
}
/* line 180, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .all_f_dd {
  margin-top: 34px;
  margin-bottom: 34px;
}
/* line 184, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .all_f_dd p a {
  font-size: 18px;
}

/* line 193, ../sass/pricing.scss */
.faq_section .container {
  border-bottom: solid 1px #c8d1d8;
}
/* line 196, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec {
  margin-top: 70px;
  margin-bottom: 53px;
}
/* line 200, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec .faq_block .faq_h {
  font-size: 21px;
  color: #222222;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 206, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec .faq_block .faq_desc {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 200;
}
/* line 213, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec:last-child {
  margin-bottom: 0px;
}

/* line 219, ../sass/pricing.scss */
.all_features_section > .container {
  border-bottom: solid 1px #c8d1d8;
}
/* line 223, ../sass/pricing.scss */
.all_features_section .cnt_left a {
  font-size: 16px;
  color: #48ad42;
}
/* line 226, ../sass/pricing.scss */
.all_features_section .cnt_left a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/green_arrow_r_16_16.png");
  width: 21px;
  height: 16px;
  margin-right: 10px;
}
/* line 234, ../sass/pricing.scss */
.all_features_section .cnt_left a span {
  font-size: 16px;
  color: #48ad42;
}
/* line 241, ../sass/pricing.scss */
.all_features_section .ft_line_holder .ft_line {
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 244, ../sass/pricing.scss */
.all_features_section .ft_line_holder .ft_line p {
  font-size: 16px;
}
/* line 251, ../sass/pricing.scss */
.all_features_section .ft_line_holder .ft_line:nth-child(even) {
  background: #f6f8f8;
}

/* line 259, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap {
  margin-top: 43px;
}
/* line 261, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap input[type='text'], .start_trial_section .start_trial_form_wrap input[type='email'], .start_trial_section .start_trial_form_wrap input[type='password'] {
  margin-right: 20px;
}
/* line 264, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap .cnt {
  margin-top: 43px;
}
/* line 266, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap .cnt button {
  color: white;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 273, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap .cnt button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}

@media (max-width: 767px) {
  /* line 288, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap {
    height: auto;
    width: 100%;
  }
  /* line 292, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li:first-child {
    margin-left: 0px;
  }

  /* line 300, ../sass/pricing.scss */
  .all_ft_stack > div {
    float: none;
    width: 100%;
  }
}
@media all and (max-width: 640px) {
  /* line 310, ../sass/pricing.scss */
  .faq_section .faq_blocks_rsec .faq_block {
    float: none;
    width: 100%;
    margin-bottom: 53px;
  }
  /* line 315, ../sass/pricing.scss */
  .faq_section .faq_blocks_rsec .faq_block:last-child {
    margin-bottom: 0px;
  }
}
@media all and (max-width: 400px) {
  /* line 324, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap {
    height: auto;
    width: 100%;
  }
  /* line 327, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav {
    padding-left: 0px !important;
    width: 100%;
    border-bottom: none !important;
  }
  /* line 331, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li {
    float: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  /* line 335, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li a {
    text-align: center;
    border-radius: 0px;
  }
  /* line 341, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li.active a, .pricing_section .pricing_tabs_wrap .nav li.active a:hover, .pricing_section .pricing_tabs_wrap .nav li.active a:focus {
    border-bottom-color: #dddddd;
  }
  /* line 345, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li:first-child {
    margin-left: 0px;
  }
  /* line 350, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .tab-content .price_box_wrap {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  /* line 355, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .tab-content .price_box_wrap:last-child {
    margin-bottom: 0px;
  }
}
