@import url("elements.css");
/* line 4, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-inner {
  background-color: rgba(76, 80, 89, 0.8);
  max-width: 230px;
  width: 230px;
  padding: 15px;
}
/* line 9, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-inner p {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  font-size: 14px !important;
  color: #fff !important;
  font-weight: 200;
  text-align: left !important;
}
/* line 18, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-inner:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 26, ../sass/pricing.scss */
.info_icon + .tooltip .tooltip-arrow {
  border-right-color: rgba(76, 80, 89, 0.8);
}

/* line 30, ../sass/pricing.scss */
.info_icon + .tooltip.in {
  opacity: 1;
}

/* line 33, ../sass/pricing.scss */
* html .info_icon + .tooltip .tooltip-inner {
  zoom: 1;
}

/* IE6 */
/* line 34, ../sass/pricing.scss */
*:first-child + html .info_icon + .tooltip .tooltip-inner {
  zoom: 1;
}

/* IE7 */
/* line 37, ../sass/pricing.scss */
.pricing_section .container {
  border-bottom: solid 1px #c8d1d8;
}
/* line 40, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap {
  width: 705px;
  margin: 0 auto;
  margin-top: 80px;
}
/* line 45, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs {
  border-bottom: solid 2px #dfe4e9;
}
/* line 47, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li {
  position: relative;
  margin-bottom: -2px;
}
/* line 50, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li a {
  font-size: 16px;
  padding: 20px 30px;
}
/* line 56, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li.active a {
  color: #48ad42;
}
/* line 61, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li:not(.active) a:hover {
  color: #48ad42;
  background-color: transparent;
  border-color: transparent;
}
/* line 67, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs li:first-child {
  margin-left: 170px;
}
/* line 71, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .nav-tabs > li.active > a, .pricing_section .pricing_tabs_wrap .nav-tabs > li.active > a:hover, .pricing_section .pricing_tabs_wrap .nav-tabs > li.active > a:focus {
  border: solid 2px #dfe4e9;
  border-bottom-color: transparent;
}
/* line 77, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box {
  margin-top: 60px;
  border-radius: 4px;
  border: solid 2px #e2e6e9;
}
/* line 81, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .headline {
  font-size: 26px;
  color: #222222;
  font-weight: 400;
  text-align: center;
  padding-top: 34px;
  padding-bottom: 34px;
}
/* line 89, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line {
  height: 90px;
  background: #f6f8f8;
  padding-top: 12px;
}
/* line 93, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line {
  margin-bottom: 8px;
  text-align: center;
}
/* line 96, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line span {
  color: #48ad42;
}
/* line 99, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line .one {
  font-size: 32px;
}
/* line 102, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .pcost_line .two {
  font-size: 24px;
}
/* line 106, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .pay_line .dcost_line {
  font-size: 14px;
  color: #48ad42;
  text-align: center;
}
/* line 113, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p {
  text-align: center;
  color: #030303;
  font-size: 16px;
  margin-top: 35px;
}
/* line 118, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p span {
  color: #030303;
  font-size: 16px;
}
/* line 122, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p .info_icon {
  vertical-align: middle;
  display: inline;
  margin-left: 10px;
  cursor: pointer;
}
/* line 129, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box .reg_block p:last-child {
  margin-bottom: 35px;
}
/* line 134, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active {
  border: solid 2px #48ad42;
}
/* line 136, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .pay_line {
  background: #48ad42;
}
/* line 139, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .pay_line .pcost_line span {
  color: #fff;
}
/* line 143, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .pay_line .dcost_line {
  color: #fff;
}
/* line 147, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .price_box_wrap .price_box.active .foot {
  height: 56px;
  background: #48ad42;
}
/* line 154, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .cnt {
  margin-top: 68px;
}
/* line 156, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .cnt a {
  color: #fff;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 163, ../sass/pricing.scss */
.pricing_section .pricing_tabs_wrap .cnt a .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}

/* line 231, ../sass/pricing.scss */
.faq_section .container {
  border-bottom: solid 1px #c8d1d8;
}
/* line 234, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec {
  margin-top: 70px;
  margin-bottom: 53px;
}
/* line 238, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec .faq_block .faq_h {
  font-size: 21px;
  color: #222222;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* line 244, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec .faq_block .faq_desc {
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 200;
}
/* line 251, ../sass/pricing.scss */
.faq_section .faq_blocks_rsec:last-child {
  margin-bottom: 0px;
}

/* line 258, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap {
  margin-top: 43px;
}
/* line 260, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap input[type='text'], .start_trial_section .start_trial_form_wrap input[type='email'], .start_trial_section .start_trial_form_wrap input[type='password'] {
  margin-right: 20px;
}
/* line 263, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap .cnt {
  margin-top: 43px;
}
/* line 265, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap .cnt button {
  color: #fff;
  font-size: 21px;
  border: solid 2px #48ad42;
  background-color: #48ad42;
  border-radius: 52px;
  padding: 17px 25px;
}
/* line 272, ../sass/pricing.scss */
.start_trial_section .start_trial_form_wrap .cnt button .arrow_wrap {
  display: inline-block;
  vertical-align: middle;
  background: url("../images/white_arrow_r.png");
  width: 25px;
  height: 19px;
  margin-left: 15px;
}

@media (max-width: 767px) {
  /* line 295, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap {
    height: auto;
    width: 100%;
  }
  /* line 299, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li:first-child {
    margin-left: 0px;
  }
}
@media all and (max-width: 640px) {
  /* line 310, ../sass/pricing.scss */
  .faq_section .faq_blocks_rsec .faq_block {
    float: none;
    width: 100%;
    margin-bottom: 53px;
  }
  /* line 315, ../sass/pricing.scss */
  .faq_section .faq_blocks_rsec .faq_block:last-child {
    margin-bottom: 0px;
  }
}
@media all and (max-width: 400px) {
  /* line 324, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap {
    height: auto;
    width: 100%;
  }
  /* line 327, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav {
    padding-left: 0px !important;
    width: 100%;
    border-bottom: none !important;
  }
  /* line 331, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li {
    float: none;
    padding-left: 2%;
    padding-right: 2%;
  }
  /* line 335, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li a {
    text-align: center;
    border-radius: 0px;
  }
  /* line 341, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li.active a, .pricing_section .pricing_tabs_wrap .nav li.active a:hover, .pricing_section .pricing_tabs_wrap .nav li.active a:focus {
    border-bottom-color: #dddddd;
  }
  /* line 345, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .nav li:first-child {
    margin-left: 0px;
  }
  /* line 350, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .tab-content .price_box_wrap {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  /* line 355, ../sass/pricing.scss */
  .pricing_section .pricing_tabs_wrap .tab-content .price_box_wrap:last-child {
    margin-bottom: 0px;
  }
}
