@import url("elements.css");
/* line 4, ../sass/support.scss */
.support_section .support_search_holder {
  position: relative;
  width: 570px;
  margin: 0 auto;
  margin-top: 37px;
}
/* line 9, ../sass/support.scss */
.support_section .support_search_holder input[type='text'] {
  height: 60px;
}
/* line 12, ../sass/support.scss */
.support_section .support_search_holder .s_icon {
  position: absolute;
  top: 16px;
  right: 18px;
  font-size: 28px;
  color: #48ad42;
}
