@import url("elements.css");
/* line 4, ../sass/support_reg.scss */
.support_reg_inside > .container {
  padding-top: 0px !important;
}
/* line 7, ../sass/support_reg.scss */
.support_reg_inside .team_member_block {
  margin-bottom: 40px;
}
/* line 9, ../sass/support_reg.scss */
.support_reg_inside .team_member_block > p {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 10px;
  text-align: center;
}
/* line 15, ../sass/support_reg.scss */
.support_reg_inside .team_member_block .team_member_box {
  border: solid 2px #e2e6e9;
  border-radius: 4px;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}
/* line 22, ../sass/support_reg.scss */
.support_reg_inside .team_member_block .team_member_box .team_pic_block {
  width: 30%;
  float: left;
  margin-bottom: 15px;
}
/* line 26, ../sass/support_reg.scss */
.support_reg_inside .team_member_block .team_member_box .team_pic_block img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 100%;
}
/* line 32, ../sass/support_reg.scss */
.support_reg_inside .team_member_block .team_member_box .team_pic_block .tpb_h {
  font-size: 16px;
  color: #222222;
  margin-top: 10px;
}
/* line 38, ../sass/support_reg.scss */
.support_reg_inside .team_member_block .team_member_box .team_pic_block:nth-child(1), .support_reg_inside .team_member_block .team_member_box .team_pic_block:nth-child(2), .support_reg_inside .team_member_block .team_member_box .team_pic_block:nth-child(4) {
  margin-right: 20px;
}
/* line 45, ../sass/support_reg.scss */
.support_reg_inside .tickets_block {
  margin-bottom: 40px;
}
/* line 47, ../sass/support_reg.scss */
.support_reg_inside .tickets_block > p {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 10px;
  text-align: center;
}
/* line 53, ../sass/support_reg.scss */
.support_reg_inside .tickets_block .tickets_box {
  border: solid 2px #e2e6e9;
  border-radius: 4px;
  padding-top: 42px;
  padding-bottom: 42px;
}
/* line 58, ../sass/support_reg.scss */
.support_reg_inside .tickets_block .tickets_box .hl1, .support_reg_inside .tickets_block .tickets_box .hl3 {
  font-size: 18px;
  color: #222222;
}
/* line 62, ../sass/support_reg.scss */
.support_reg_inside .tickets_block .tickets_box .hl2 {
  font-size: 96px;
}
/* line 68, ../sass/support_reg.scss */
.support_reg_inside .timing_block > p {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 10px;
  text-align: center;
}
/* line 74, ../sass/support_reg.scss */
.support_reg_inside .timing_block .timing_box {
  border: solid 2px #e2e6e9;
  border-radius: 4px;
  padding-top: 42px;
  padding-bottom: 42px;
}
/* line 79, ../sass/support_reg.scss */
.support_reg_inside .timing_block .timing_box .hl {
  font-size: 18px;
  color: #222222;
  margin-bottom: 23px;
}
/* line 84, ../sass/support_reg.scss */
.support_reg_inside .timing_block .timing_box .tl {
  font-size: 16px;
  font-weight: 200;
}
/* line 88, ../sass/support_reg.scss */
.support_reg_inside .timing_block .timing_box p:nth-child(2) {
  margin-bottom: 41px;
}
/* line 94, ../sass/support_reg.scss */
.support_reg_inside .sri_logged_block {
  border: solid 2px #e2e6e9;
  border-radius: 4px;
  padding: 20px;
  margin-top: 28px;
}
/* line 99, ../sass/support_reg.scss */
.support_reg_inside .sri_logged_block .logged_row {
  margin-bottom: 15px;
}
/* line 101, ../sass/support_reg.scss */
.support_reg_inside .sri_logged_block .logged_row p {
  font-size: 14px;
}
/* line 105, ../sass/support_reg.scss */
.support_reg_inside .sri_logged_block .logged_row:last-child {
  margin-bottom: 0px;
}
/* line 110, ../sass/support_reg.scss */
.support_reg_inside .contact_us_form {
  margin-top: 60px;
  margin-bottom: 30px;
}
/* line 113, ../sass/support_reg.scss */
.support_reg_inside .contact_us_form label {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 10px;
}
/* line 118, ../sass/support_reg.scss */
.support_reg_inside .contact_us_form button[type='submit'] {
  width: 100%;
  border-radius: 15px;
}

@media all and (max-width: 882px) {
  /* line 127, ../sass/support_reg.scss */
  .support_reg_inside .left_r, .support_reg_inside .right_r {
    width: 100%;
    float: none;
  }
}
@media all and (max-width: 400px) {
  /* line 136, ../sass/support_reg.scss */
  .support_reg_inside > .container {
    padding-top: 0px !important;
  }
  /* line 139, ../sass/support_reg.scss */
  .support_reg_inside .team_pic_block {
    float: none;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
