@import "elements";

.regular_content_block {
	.h {
		line-height: 2;
	}
}

.aboutus_headline_block {
	.h {
		img {
			display: inline-block; 
			vertical-align: middle
		}
	}
}

.aboutus_headnav_block {
	.ahb_nav_hold {
		ul {
			display: inline-block;
			margin-bottom: -3px;
			li {
				float: left;
				margin-right: 48px;
				a {
					font-size: 16px;
					height: 45px;
					display: block;
					padding-bottom: 23px;
				}
				a:hover, a.active {
					color: $green_color;
					border-bottom: solid 2px $green_color;
				}
			}
			li:last-child {
				margin-right: 0px;
			}
		}
	}
	.aboutus_headnav_img_hold {
		img {
			display: block;
		}
	}
}

.about_us_content_line {
	.basic_txt {
		font-size: 18px;
		font-weight: 200;
		line-height: 1.6;
	}
	.auc_headline {
		font-size: 32px;
		color: $text_black_color;
	}
	.auc_reg_txt_block {
		p {
			margin-top: 40px;
		}
	}
	.auc_txt_block_wrap.rect_middle {
		width: 780px;
		margin: 0 auto;
	}
	.basic_pic_holder {
		margin-top: 80px;
		img {
			display: block;
			width: 100%;
		}
	}
	.auc_bc_txt_block {
		height: 1141px;
		background-image: url("../images/aboutus_values_back.jpg");
		background-color: rgba(0, 0, 0, 0);
		background-size: cover;
		background-position: 50% 0%;
		background-repeat: no-repeat;
		margin-top: 90px;
		.abtb_inside {
			width: 470px;
			padding-top: 70px;
			padding-bottom: 70px;
			padding-right: 50px;
			.bl_hl {
				color: #6bc0c0;
				font-size: 36px;
			}
			.abtb_sub_block {
				margin-top: 40px;
				.abtb_sb_h {
					font-size: 18px;
					color: $text_black_color;
					margin-bottom: 15px;
				}
				.abtb_sb_r {
					font-size: 16px;
					font-weight: 200;
					line-height: 1.6;
				}
			}
		}
	}
}
.about_us_content_line.p_top {
	padding-top: 80px;
}
.about_us_content_line.p_bottom {
	padding-bottom: 80px;
}

.aboutus_map_block {
	position: relative;
	.amb_textline {
		position: absolute;
		z-index: 20;
		width: 960px;
		left: 200px;
		left: -webkit-calc(50% - 480px);
		left: -moz-calc(50% - 480px);
		left: calc(50% - 480px);
		bottom: 20px;
		p {
			font-weight: 200;
		}
		p:first-child {
			color: $white_color;
			font-size: 18px;
			margin-bottom: 10px;
		}
		p:last-child {
			color: #d5d5d5;
			font-size: 16px;
		}
	}
	.amb_bottom_overlay {
		position: absolute;
		z-index: 20;
		width: 100%;
		height: 250px;
		left: 0px;
		bottom: 0px;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	}
	.aboutus_map_img_hold {
		width: 100%;
		height: 550px;
	}
}

.start_trial_section {
	.start_trial_form_wrap {
		margin-top: 43px;
		input[type='text'], input[type='email'], input[type='password'] {
			margin-right: 20px;
		}
		.cnt {
			margin-top: 43px;
			button {
				.arrow_wrap {
					display: inline-block;
					vertical-align: middle;
					background: url("../images/white_arrow_r.png");
					width: 25px;
					height: 19px;
					margin-left: 15px;
				}
			}
		}
	}
}

.tabs_system_section {
	display: none;
}
.tabs_system_section.active {
	display: block;
}

.tabs_system_section.tss_jobs_page {
	> .container {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.hl {
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
	}
	.ds {
		font-size: 18px;
		line-height: 1.6em;
		font-weight: 200;
	}
	.jobs_form_wrap {
		width: 767px;
		margin: 0 auto;
		.jobs_form {
			margin-top: 30px;
			label {
				font-size: 14px;
				font-weight: 200;
				margin-bottom: 10px;
			}
			button[type='submit']  {
				width: 100%;
				border-radius: 15px;
			}
			.form-group.two_lines_rows {
				> div:first-child {
					padding-left: 0px;
				}
				> div:last-child {
					padding-right: 0px;
				}
			}
		}
		.party_hl {
			font-size: 18px;
			line-height: 1.6em;
			font-weight: 200;
			text-align: center;
			margin-top: 60px;
		}
		.video_holder {
			margin-top: 60px;
		}
	}
}

.tabs_system_section.tss_soc_resp_page {
	> .container {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.hl {
		font-size: 24px;
		text-align: center;
		margin-bottom: 20px;
	}
	.org_stack_over {
		width: 767px;
		margin: 0 auto;
		margin-top: 60px;
		.org_row {
			margin-bottom: 40px;
		}
		.org_row:last-child {
			margin-bottom: 0px;
		}
		.org_block {
			img {
				display: block;
				margin: 0 auto;
				max-width: 100%;
			}
			p {
				font-size: 14px;
				font-weight: 200;
				line-height: 1.6em;
				margin-top: 15px;
				text-align: center;
			}
		}
	}
}

.tabs_system_section.tss_our_team_page {
	.our_team_wrap {
		.team_members_wrap {
			margin-top: 80px;
			.tmw_row {
				.team_member_block {
					margin-bottom: 40px;
					.tmb_img_holder {
						margin-bottom: 35px;
						img {
							display: block;
							margin: 0 auto;
							max-width: 100%;
						}
					}
					p {
						text-align: center;
					}
					.t_h {
						font-size: 21px;
						color: $text_black_color;
						margin-bottom: 10px;
					}
					.t_d {
						font-weight: 200;
						font-size: 16px;
					}
				}
			}
		}
	}
}

.tabs_system_section.tss_press_page {
	.press_page_wrap {
		.press_down_green_line {
			height: 290px;
			background-image: url("../images/press_down_green_line.jpg");
			background-color: rgba(0, 0, 0, 0);
			background-size: cover;
			background-position: 50% 0%;
			background-repeat: no-repeat;
			.pdgl_cnt {
				padding-top: 160px;
				> a {
					span {
						color: $white_color;
						font-size: 16px;
						margin-right: 10px;	
					}
				}
			}
		}
		.pr_tbl_wrap {
			.hl {
				font-size: 28px;
				color: $text_black_color;
			}
			.press_post_line {
				margin-top: 30px;
				p {
					font-size: 18px;
					line-height: 1.6em;
				}
				.hl_post {
					margin-bottom: 10px;
				}
				.hl_body {
					font-weight: 200;
				}
			}
		}
	}
}

@media all and (max-width: 991px) {
	.aboutus_map_block {
		.amb_textline {
			left: 6%;
			width: 94%;
		}
	}
}

@media (max-width: 767px) {
	.aboutus_headnav_block {
		.ahb_nav_hold {
			ul {
				li {
					margin-right: 20px;
				}
				li:last-child {
					margin-right: 0px;
				}
			}
		}
	}

	.about_us_content_line {
		.auc_txt_block_wrap.rect_middle {
			width: 100%;
		}
	} 

	.tabs_system_section.tss_jobs_page {
		.jobs_form_wrap {
			width: 100%;
		}
	}

	.tabs_system_section.tss_soc_resp_page {
		.org_stack_over {
			width: 100%;
		}
	}

	.tabs_system_section.tss_press_page {
		.press_page_wrap {
			.pr_tbl_wrap {
				> div {
					float: none;
					width: 100%;
				}
				> div:first-child {
					margin-bottom: 30px;
				}
			}
		}
	}
}

@media all and (max-width: 640px) {
	.regular_content_block {
		.container {
			padding-top: 40px !important;
			padding-bottom: 40px !important;
		}
	}
	.aboutus_headnav_block {
		.aboutus_headnav_img_hold {
			display: none;
		}
	}
	.aboutus_headnav_block {
		.ahb_nav_hold {
			ul {
				li {
					float: none;
					width: 100%;
					text-align: center;
					margin-right: 0px;
					margin-bottom: 15px;
					a:hover {
						border-bottom: none;
					}
				}
				li:last-child {
					margin-right: 0px;
					margin-bottom: 0px;
				}
			}
		}
	}
	.about_us_content_line {
		.auc_bc_txt_block {
			background-image: none;
			height: auto;
			.abtb_inside {
				float: none !important;
				width: 100%;
				padding-left: 0px;
				padding-right: 0px;
				padding-bottom: 0px;
			}
		}
	}
}

@media all and (max-width: 568px) {
	.tabs_system_section.tss_soc_resp_page {
		.org_stack_over {
			.org_row {
				> div  {
					padding: 0px;
					float: none;
					width: 100%;
				}
				.org_block:first-child {
					margin-bottom: 25px !important;
				}
			}
		}
	}
}

@media all and (max-width: 400px) {
	.aboutus_map_block {
		.aboutus_map_img_hold {
			height: 300px;
		}
	}

	.tabs_system_section.tss_jobs_page {
		.jobs_form_wrap {
			.jobs_form {
				.form-group.two_lines_rows {
					> div {
						padding: 0px;
						float: none;
						width: 100%;
					}
					> div:first-child {
						margin-bottom: 15px;
					}
				}
			}
		}
	}

	.tabs_system_section.tss_our_team_page {
		.our_team_wrap {
			.team_members_wrap {
				.tmw_row {
					.team_member_block {
						float: none;
						width: 100%;
					}
				}
			}
		}
	}
}

