@import url('elements.css');

.all_features_section {
	.cnt_left {
		a {
			font-size: 16px;
			color: #48ad42;
			.arrow_wrap {
				display: inline-block;
				vertical-align: middle;
				background: url("../images/green_arrow_r_16_16.png");
				width: 21px;
				height: 16px;
				margin-right: 10px;
			}
			span {
				font-size: 16px;
				color: #48ad42;
			}
		}
	}
	.ft_line_holder {
		.ft_line {
			padding-top: 25px;
			padding-bottom: 25px;
			p {
				font-size: 16px;
			}
		}
		.ft_line:nth-child(odd) {

		}
		.ft_line:nth-child(even) {
			background: #f6f8f8;
		}
	}
}


.start_trial_section {
	.start_trial_form_wrap {
		margin-top: 43px;
		input[type='text'], input[type='email'], input[type='password'] {
			margin-right: 20px;
			height: 54px;
		}
		.cnt {
			margin-top: 43px;
			button {
				color: #fff;
				font-size: 21px;
				border: solid 2px #48ad42;
				background-color: #48ad42;
				border-radius: 52px;
				padding: 17px 25px;
				.arrow_wrap {
					display: inline-block;
					vertical-align: middle;
					background: url("../images/white_arrow_r.png");
					width: 25px;
					height: 19px;
					margin-left: 15px;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.all_ft_stack {
		> div {
			float: none;
			width: 100%;
		}
	}
}
	
@media all and (max-width: 640px) { 

}

@media all and (max-width: 400px) { 
	
}
