$green_color: #48ad42;
$blue_color: #2ba8d6;
$purple_color: #f24985;
$text_black_color: #222222;
$white_color: #fff;
$black_color: #000;
$default_text_color: #5d6974;
$placeholder_text_color: #c8d1d8;
$six_color: #666;
$top_under_header_color: #f4f4f4;
$tuh_nav_block_color: #575d64;
$v_light_grey: #f5f6f6;
$orange_color: #f79646;
$blue_l_grey: #dfe4e9;
$blue_h_grey: #f6f8f8;