@import url('elements.css');

.features_intro_section {
	.container {
		padding-top: 53px;
		padding-bottom: 45px;
		border-bottom: solid 1px #c8d1d8;
	}
	.h {
		font-size: 48px;
		color: #222222;
		display: block;
		width: 700px;
		margin: 0 auto;
		text-align: center;
	}
	.init_f_list_wrap {
		margin-top: 35px;
	}
	.init_f_list {
		li {
			display: inline-block;
			margin-right: 25px;
			p {
				line-height: 23px;
				font-size: 18px;
				background: url("../images/apply_green_icon.png") center left no-repeat;
				padding-left: 34px;
				text-align: left;
				font-weight: 200;
			}
		}
		li:last-child {
			margin-right: 0px;
		}
	}
	.full_f_list_wrap {
		margin-top: 80px;
	}
	.full_f_list {
		li.ffl_item {
			margin-bottom: 15px;
			.lf {
				float: left;
				width: 40%;
				img {
					display: block;
					max-width: 100%;
					margin: 0 auto;
				}
			}
			.rf {
				float: left;
				width: 60%;
				p.rf_r {
					font-size: 16px;
					line-height: 1.6em;
					font-weight: 200;
				}
				.rf_h {
					font-size: 21px;
					color: #222222;
					margin-bottom: 17px;
				}
			}
		}
	}
}

.full_content_section {
	.container {
		padding-top: 93px;
		padding-bottom: 98px;
		border-bottom: solid 1px #c8d1d8;
	}
	.img_ic_holder {
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.h {
		font-size: 36px;
		color: #222222;
		margin-top: 33px;
		text-align: center;
		margin-bottom: 20px;
	}
	.disc {
		text-align: center;
		font-size: 21px;
		display: block;
		width: 668px;
		margin: 0 auto;
		margin-bottom: 75px;
		font-weight: 200;
	}

	.fcs_desc_segment {
		.fsc_seg_block {
			margin-bottom: 45px;
			.h {
				font-size: 21px;
				color: #222222;
				text-align: left;
				margin-top: 23px;
				margin-bottom: 16px;
			}
			.desc {
				font-size: 16px;
				text-align: left;
				line-height: 1.6em;
				font-weight: 200;
			}
		}
		.fsc_seg_block:last-child {
			margin-bottom: 0px;
		}
	}
}

.full_customize_section {
	.container {
		padding-top: 93px;
		padding-bottom: 98px;
		border-bottom: solid 1px #c8d1d8;
	}
	.img_ic_holder {
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.h {
		font-size: 36px;
		color: #222222;
		margin-top: 33px;
		text-align: center;
		margin-bottom: 20px;
	}
	.disc {
		text-align: center;
		font-size: 21px;
		display: block;
		width: 668px;
		margin: 0 auto;
		margin-bottom: 75px;
		font-weight: 200;
	}
	.f_cust_desc_segment {
		.f_cust_seg_block {
			margin-bottom: 45px;
			.h {
				font-size: 21px;
				color: #222222;
				text-align: left;
				margin-top: 23px;
				margin-bottom: 16px;
			}
			.desc {
				font-size: 16px;
				text-align: left;
				line-height: 1.6em;
				font-weight: 200;
			}
		}
		.f_cust_seg_block:last-child {
			margin-bottom: 0px;
		}
	}
}

.full_mobile_section {
	.container {
		padding-top: 93px;
		padding-bottom: 98px;
		border-bottom: solid 1px #c8d1d8;
	}
	.img_ic_holder {
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.h {
		font-size: 36px;
		color: #222222;
		margin-top: 33px;
		text-align: center;
		margin-bottom: 55px;
	}
	.pic_img_holder {
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.disc {
		font-size: 17px;
		width: 760px;
		margin: 0 auto;
		line-height: 1.6em;
		font-weight: 200;
	}
}

.full_more_section {
	.container {
		padding-top: 93px;
		padding-bottom: 98px;
		border-bottom: solid 1px #c8d1d8;
	}
	.img_ic_holder {
		img {
			display: block;
			margin: 0 auto;
		}
	}
	.h {
		font-size: 36px;
		color: #222222;
		margin-top: 33px;
		text-align: center;
	}
	.disc {
		text-align: center;
		font-size: 21px;
		margin-top: 25px;
		margin-bottom: 93px;
		font-weight: 200;
	}
	.fms_blocks_rsec {
		margin-bottom: 53px;
		.fms_block {
			.pic_hold {

			}
			.fms_h {
				font-size: 21px;
				color: #222222;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			.fms_desc {
				font-size: 16px;
				line-height: 1.6em;
				font-weight: 200;
			}
		}
	}
	.fms_blocks_rsec:last-child {
		margin-bottom: 0px;
	}
}

.full_support_team_section {
	.container {
		padding-top: 93px;
		padding-bottom: 98px;
	}
	.h {
		font-size: 36px;
		color: #222222;
		margin-bottom: 20px;
		text-align: center;
	}
	.disc {
		text-align: center;
		font-size: 21px;
		margin-bottom: 50px;
		font-weight: 200;
	}
	.pic_img_holder {
		img {
			display: block;
			margin: 0 auto;
		}
	}
}

.start_trial_section {
	.container {
		padding-bottom: 102px;
	}
	.start_trial_form_wrap {
		margin-top: 43px;
		input[type='text'], input[type='email'], input[type='password'] {
			margin-right: 20px;
		}
		.cnt {
			margin-top: 43px;
			button {
				color: #fff;
				font-size: 21px;
				border: solid 2px #48ad42;
				background-color: #48ad42;
				border-radius: 52px;
				padding: 17px 25px;
				.arrow_wrap {
					display: inline-block;
					vertical-align: middle;
					background: url("../images/white_arrow_r.png");
					width: 25px;
					height: 19px;
					margin-left: 15px;
				}
			}
		}
	}
	.h {
		font-size: 36px;
		color: #222222;
		text-align: center;
	}
	.disc {
		text-align: center;
		font-size: 21px;
		margin-top: 24px;
		font-weight: 200;
	}
}

@media (max-width: 767px) {
	.features_intro_section {
		.h {
			width: auto;
		}
		.init_f_list {
			width: 230px;
			margin: 0 auto;
			li {
				display: block;
				margin-bottom: 15px;
				margin-right: 0px;
			}
			li:last-child {
				margin-bottom: 0px;
			}
		}
	}
	.full_mobile_section {
		.disc {
			width: auto;
		}
	}
	.full_content_section {
		.disc {
			width: auto;
		}
	}
	.full_customize_section {
		.disc {
			width: auto;
		}
	}
}
	
@media all and (max-width: 640px) { 
	.full_content_section {
		.fcs_desc_segment {
			.fcs_desc_rline {
				float: none;
				width: 100%;	
			}
			.fcs_desc_rline:last-child {
				margin-top: 45px;
			}
		}
	}
	.full_customize_section {
		.f_cust_desc_segment {
			.f_cust_desc_rline {
				float: none;
				width: 100%;
			}
			.f_cust_desc_rline:first-child {
				margin-bottom: 45px;
			}
		}
	}
	.full_more_section {
		.fms_blocks_rsec {
			.fms_block {
				float: none;
				width: 100%;
				margin-bottom: 53px;
			}
			.fms_block:last-child {
				margin-bottom: 0px;
			}
		}
	}
}

@media all and (max-width: 400px) { 
	.features_intro_section {
		.h {
			font-size: 28px;
		}
		.full_f_list {
			li.ffl_item {
				float: none;
				width: 100%;
			}
		}
	}
}
