@import "elements";

.get_started_section {
	.get_started_form_wrap {
		margin-top: 68px;
		input[type='text'], input[type='email'], input[type='password'] {
			margin-right: 20px;
		}
		button {
			color: $white_color;
			border: solid 2px $green_color;
			background-color: $green_color;
			border-radius: 30px;
			padding-top: 10px;
			padding-bottom: 10px;
			padding-left: 30px;
			padding-right: 30px;
			font-size: 21px;
			.arrow_wrap {
				display: inline-block;
				vertical-align: middle;
				background: url("../images/white_arrow_r.png");
				width: 25px;
				height: 19px;
				margin-left: 15px;
			}
		}
	}
	.h {
		font-size: 48px;
		color: $text_black_color;
		display: block;
		width: 700px;
		margin: 0 auto;
		text-align: center;
	}
	.disc {
		text-align: center;
		font-size: 24px;
		margin-top: 30px;
		font-weight: 200;
	}
	.note {
		margin-top: 30px;
		p {
			font-size: 14px;
			font-weight: 200;
		}
	}
}

// .demo_screen_preview_section {
// 	width: 100%;
// 	img {
// 		width: 100%;
// 		display: block;
// 	}
// }

.demo_screen_preview_section {
	position: relative;
	width: 100%;
	height: 562px;
	background: url("../images/home_page_mac_icons.png") $green_color;
	background-size: cover;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	margin-top: 40px;
	margin-bottom: 40px;
	.play_btn_wrap {
		position: absolute;
		width: 100%;
		height: 80px;
		z-index: 2;
		top: 20px;
		top: -webkit-calc(50% - 40px);
		top: -moz-calc(50% - 40px);
		top: calc(50% - 40px);
		.play_btn {
			position: relative;
			cursor: pointer;
			width: 80px;
			height: 80px;
			border-radius: 50%;
			background-color: rgba(0, 0, 0, 0.4);
			margin: 0 auto;
			-moz-transition: background-color 0.6s ease 0s; -webkit-transition: background-color 0.6s ease 0s; -ms-transition: background-color 0.6s ease 0s; -o-transition: background-color 0.6s ease 0s;
			.p_icon {
				position: absolute;
				color: $white_color;
				top: 18px;
				top: -webkit-calc(50% -18px);
				top: -moz-calc(50% - 18px);
				top: calc(50% - 18px);
				left: 14px;
				left: -webkit-calc(50% -12px);
				left: -moz-calc(50% - 12px);
				left: calc(50% - 12px);
			}
		}
		.play_btn:hover {
			background-color: rgba(0, 0, 0, 0.8);
		}
	}
	.image_holder {
		position: absolute;
		width: 100%;
		top: -35px;
		img {
			display: block;
			margin: 0 auto;
			max-width: 1120px;
		}
	}
}

#demo_video_modal {
	.modal-header {
		padding: 15px;
		border-bottom: none;
		.close {
			> span {
				font-size: 1.2em;
			}
		}
	}
}

.promotion_section {
	.container {
		border-bottom: solid 1px $placeholder_text_color;
		padding-top: 50px !important;
	}
	.promo_block {
		.pic_holder {
			min-height: 59px;
			img {
				display: block;
				margin: 0 auto;
			}
			img.mt_top {
				margin: 0 auto;
				margin-top: 7px;
			}
		}
	}
	.note {
		margin-bottom: 30px;
		p {
			font-size: 18px;
			text-transform: uppercase;
		}
	}
}


.choose_templates_section {
	.container {
		border-bottom: solid 1px $placeholder_text_color;
	}
	.templates_wrap {
		margin-top: 66px;
		.mobile_templates_wrap {
			display: none;
		}
		.template_rline {
			margin-bottom: 70px;
			.template_hold {
				.template_hold_inside {
					position: relative;
					border: solid 2px $placeholder_text_color;
					border-radius: 2px;
					.hove_overlay {
						display: none;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(255, 255, 255, 0.8);
						.cnt {
							margin-top: 200px;
							margin-top: -webkit-calc(50% - 32px);
							margin-top: -moz-calc(50% - 32px);
							margin-top: calc(50% - 32px);
							a {
								color: $green_color;
								// font-size: 18px;
								font-size: 16px;
								border: solid 2px $green_color;
								background-color: transparent;
								border-radius: 52px;
								// padding: 17px 31px;
								padding: 17px 24px;
							}
							a:first-child {
								margin-right: 20px;
							}
							a:hover {
								background-color: $green_color;
								color: $white_color;
							}
						}
					}
					img {
						width: 100%;
						display: block;
					}
				}
				.template_hold_inside:hover {
					.hove_overlay {
						display: block;
					}
				}
			}
		}
		.template_rline:last-child {
			margin-bottom: 0px;
		}
	}
	.cnt {
		margin-top: 82px;
		a {
			color: $green_color;
			font-size: 21px;
			border: solid 2px $green_color;
			background-color: transparent;
			border-radius: 52px;
			padding: 17px 25px;
			.arrow_wrap {
				display: inline-block;
				vertical-align: middle;
				background: url("../images/green_arrow_r.png");
				width: 25px;
				height: 19px;
				margin-left: 5px;
			}
		}
		a:hover {
			background-color: $green_color;
			color: $white_color;
			.arrow_wrap {
				background: url("../images/white_arrow_r.png");
			}
		}
	}
}

.bus_standout {
	.container {
		border-bottom: solid 1px $placeholder_text_color;
	}
	.standout_block {
		margin-top: 40px;
		.pic_holder {
			img {
				display: block;
				margin: 0 auto;
			}
		}
		.head {
			font-size: 21px;
			color: $text_black_color;
			text-align: center;
			margin-bottom: 20px;
			margin-top: 43px;
		}
		.desc {
			text-align: center;
			font-size: 16px;
			font-weight: 200;
			line-height: 1.6em;
		}
	}
	.cnt {
		margin-top: 60px;
		a {
			color: $green_color;
			font-size: 21px;
			border: solid 2px $green_color;
			background-color: transparent;
			border-radius: 34px;
			padding: 17px 25px;
			.arrow_wrap {
				display: inline-block;
				vertical-align: middle;
				background: url("../images/green_arrow_r.png");
				width: 25px;
				height: 19px;
				margin-left: 5px;
			}
		}
		a:hover {
			background-color: $green_color;
			color: $white_color;
			.arrow_wrap {
				background: url("../images/white_arrow_r.png");
			}
		}
	}
}

.our_word_section {
	.our_word_block {
		margin-top: 40px;
		margin-bottom: 40px;
		.pic_holder {
			float: left;
			img {
				width: 100%;
				display: block;
			}
		}
		.desc_holder {
			float: right;
			.h {
				font-size: 26px;
				color: $text_black_color;
				margin-bottom: 25px;
				text-align: left;
				margin-top: 65px;
			}
			.desc {
				font-size: 16px;
				margin-bottom: 42px;
				font-weight: 200;
				line-height: 1.6em;
			}
			.disc {
				text-align: left;
				.n {
					font-size: 16px;
					color: $text_black_color;
				}
				.e {
					font-size: 16px;
					color: $green_color;
				}
			}
		}
	}
	.our_word_block:last-child {
		margin-bottom: 0px;
	}
	.our_word_block:nth-child(odd) {
		.owb_holder:nth-child(1) {
			float: right;
		}
		.owb_holder:nth-child(2) {
			float: left;
		}
		.pic_holder {
			float: right;
		}
		.desc_holder {
			float: left;
		}
	}
	.cnt {
		margin-top: 72px;
		a {
			color: $green_color;
			font-size: 21px;
			border: solid 2px $green_color;
			background-color: transparent;
			border-radius: 52px;
			padding: 17px 25px;
			.arrow_wrap {
				display: inline-block;
				vertical-align: middle;
				background: url("../images/green_arrow_r.png");
				width: 25px;
				height: 19px;
				margin-left: 5px;
			}
		}
		a:hover {
			background-color: $green_color;
			color: $white_color;
			.arrow_wrap {
				background: url("../images/white_arrow_r.png");
			}
		}
	}
}

.start_trial_section {
	.start_trial_form_wrap {
		margin-top: 43px;
		input[type='text'], input[type='email'], input[type='password'] {
			margin-right: 20px;
		}
		.cnt {
			margin-top: 43px;
			button {
				color: $white_color;
				font-size: 21px;
				border: solid 2px $green_color;
				background-color: $green_color;
				border-radius: 52px;
				padding: 17px 25px;
				.arrow_wrap {
					display: inline-block;
					vertical-align: middle;
					background: url("../images/white_arrow_r.png");
					width: 25px;
					height: 19px;
					margin-left: 15px;
				}
			}
		}
	}
}

.twitter_feed_section {
	background-color: $v_light_grey;
	.twitter_feed_holder {
		margin-top: 60px;
		> div {
			margin-bottom: 15px;
		}
		.tweet_block {
			background: $white_color;
			padding: 10px;
			.user {
				img {
					display: inline-block;
					vertical-align: middle;
				}
				a {
					span:nth-child(3) {
						color: $orange_color;
					}
				}
			}
			.timePosted {
				display: none;
			}
			.tweet {
				margin-top: 10px;
			}
			a {
				color: $orange_color;
			}
		}
	}
}


@media all and (max-width: 991px) {
	.demo_screen_preview_section {
		.image_holder {
			img {
				width: 90%;
			}
		}
	}
}


@media all and (max-width: 991px) {
	.choose_templates_section {
		.templates_wrap {
			.template_rline {
				.template_hold {
					.template_hold_inside {
						.hove_overlay {
							.cnt {
								a {
									font-size: 14px !important;
									padding: 14px 15px !important;
								}
								a:first-child {
									margin-right: 10px;
								}
							}
						}
					}	
				}
			}
		}
	}

	.our_word_section {
		.owb_holder {
			float: none;
			width: 100%;
			.pic_holder, .desc_holder {
				float: none !important;
			}
		}
	}
}

// @media (max-width: 767px) {
@media (max-width: 804px) {
	.choose_templates_section {
		.templates_wrap {
			.mobile_templates_wrap {
				display: block;
			}
			.desktop_templates_wrap {
				display: none;
			}
			.template_rline {
				.template_hold {
					margin-bottom: 20px;
					.template_hold_inside {
						.hove_overlay {
							.cnt {
								a:first-child {
									display: none;
								}
								a {
									font-size: 18px !important;
									padding: 17px 31px !important;
								}
							}
						}
					}	
				}
				.template_hold:last-child {
					margin-bottom: 0px;
				}
			}
		}
	}
	.promotion_section {
		.promo_block {
			margin-bottom: 20px;
		}
		.promo_block:last-child {
			margin-bottom: 0px;
		}
	}
	.bus_standout {
		.standout_block {
			margin-bottom: 20px;
		}
		.standout_block:last-child {
			margin-bottom: 0px;
		}
	}

	.get_started_section {
		.h {
			width: auto;
			font-size: 32px;
		}
	}
}

@media all and (max-width: 640px) {
	.twitter_feed_section {
		.twitter_feed_holder {
			.twitter_feed_row {
				> div {
					float: none;
					width: 100%;
				}
				> div:first-child {
					margin-bottom: 15px;
				}
			}
		}
	}
} 

@media all and (max-width: 400px) {
	// .choose_templates_section {
	// 	.templates_wrap {
	// 		.template_rline {
	// 			.template_hold {
	// 				.template_hold_inside {
	// 					.hove_overlay {
	// 						.cnt {
	// 							a {
	// 								font-size: 12px !important;
	// 								padding: 8px !important;
	// 							}
	// 							a:first-child {
	// 								margin-right: 10px;
	// 								display: none;
	// 							}
	// 						}
	// 					}
	// 				}	
	// 			}
	// 		}
	// 	}
	// }
}

// @media all and (max-width: 360px) { 
@media all and (max-width: 400px) { 

	.choose_templates_section, .get_started_section, .promotion_section, .bus_standout, .our_word_section, .start_trial_section {
		.h {
			font-size: 24px;
		}
		.disc {
			font-size: 18px;
		}
	}

	.choose_templates_section, .bus_standout, .our_word_section, .start_trial_section {
		> .container {
			padding-top: 50px;
			padding-bottom: 50px;
		}
	}

	.get_started_section {
		> .container {
			padding-top: 40px !important;
			padding-bottom: 40px !important;
		}
		.get_started_form_wrap {
			margin-top: 35px;
			.form-group {
				display: none;
			}
		}
		.disc, .note {
			display: none;
		}
		.h {
			font-size: 28px !important;
		}
	}

	// .demo_screen_preview_section {
	// 	display: none;
	// }

	.promotion_section {
		.container {
			padding-top: 0px;
		}
		.promo_block {
			.pic_holder {
				img.mt_top {
					width: 100%;
				}
			}
		}
	}

	.our_word_section {
		.our_word_block {
			margin-bottom: 0px;
			.desc_holder {
				.h {
					font-size: 22px;
				}
				.desc {
					font-size: 14px;
				}
			}
		}
	}

	.choose_templates_section, .bus_standout, .our_word_section { 
		.cnt {
			a {
				font-size: 16px;
			}
		}
	}

}
