<div id='footer' class='footer'>
  <div class='container'>
    <div class='row clearfix'>

      <div class='col-xs-4 col-sm-4 col-md-4 footer_nav_block'>
        <div class='high_credit_rating'>
          <p>Highest credit rating</p>
          <div><img class='img-responsive' src="./images/high_credit_rating.png"></div>
        </div>
        <div class='social_response'>
          <p class='clearfix'>Social responsibility</p>
          <div class="clearfix">
            <div class='pull-left'><img class='img-responsive' src="./images/social_response_wwf.png"></div>
            <div class='pull-left'><img class='img-responsive' src="./images/social_response_pan.png"></div>
          </div>
        </div>
      </div>

      <div class='col-xs-4 col-sm-4 col-md-4 footer_nav_block'>
        <div class='latest_blog_posts'>
          <p class='foot_head'>Latest blog posts</p>
          <ul class='foot_list'>
            <li><a href="javascript:void(0)">Trevlig sommar önskar Hemsida24</a></li>
            <li><a href="javascript:void(0)">Uppdaterat bildblock möjliggör bättre styling av bilder!</a></li>
            <li><a href="javascript:void(0)">Nya menyfärger i mobilvyn</a></li>
          </ul> 
        </div>
        <div class='last_uptime'>
          <p class='foot_head'>99.9% uptime the last 3 moths</p>
          <ul class='foot_list'>
            <li><a href="javascript:void(0)">View uptime dashboard</a></li>
          </ul> 
        </div>
      </div>

      <div class='col-xs-4 col-sm-4 col-md-4 footer_nav_block'>
        <div class='latest_tweets'>
          <p class='foot_head'>Latest tweets</p>
          <ul class='foot_list'>
            <li><a href="javascript:void(0)">Trevlig sommar önskar Hemsida24</a></li>
            <li><a href="javascript:void(0)">Uppdaterat bildblock möjliggör bättre styling av bilder!</a></li>
            <li><a href="javascript:void(0)">Nya menyfärger i mobilvyn</a></li>
          </ul> 
        </div>
        <div class='last_uptime'>
          <p class='foot_head'>9 of 10 customers would recommend PagePicnic to a friend</p>
          <ul class='foot_list'>
            <li><a href="javascript:void(0)">How did we come up with this?</a></li>
          </ul> 
        </div>
      </div>

    </div>
    <div class='row sub_footer_line clearfix'>
      <div class='col-xs-4 col-sm-4 col-md-4 hidden-xs'></div>
      <div class='col-xs-6 col-sm-4 col-md-4 subfooter_nav_block'><img class='mini_logo' src="./images/mini_logo.png"></div>
      <div class='col-xs-6 col-sm-4 col-md-4 subfooter_nav_block text-center clearfix'>
        <ul class='partners_list pull-right clearfix'>
          <li><img src="./images/klarna_foot_icon.png"></li>
          <li><img src="./images/visa_foot_icon.png"></li>
          <li><img src="./images/mastercard_foot_icon.png"></li>
        </ul>
      </div>
    </div>
  </div>
</div>