<ul class='reg_ul'>
  <li>
    <a class='btn btn-default mob_get_started_btn' href="javascript:void(0)">get started</a>
    <span class='fa fa-times mob_close_inside' onclick="activateMobileMenu(this)"></span>
  </li>
  <li><a href="./home.html">Home</a></li>
  <li><a href="./features.html">Features</a></li>
  <li><a href="./pricing.html">Pricing</a></li>
  <li><a href="./templates.html">Templates</a></li>
  <li><a href="./customers.html">Customers</a></li>
  <li><a href="./support.html">Support</a></li>
</ul>
<ul class='auth_ul'>
  <li><a href="./aboutus.html">About us</a></li>
  <li><a href="./contact_us.html">Contact</a></li>
  <li><a href="javascript:void(0)">Blog</a></li>
</ul>
<div class='text-center social_lnk_panel'>
  <ul class='display_inline_block clearfix'>
    <li class='pull-left'><a href="javascript:void(0)"><span class='fa fa-facebook-square fa-2x'></span></a></li>
    <li class='pull-left'><a href="javascript:void(0)"><span class='fa fa-twitter-square fa-2x'></span></a></li>
  </ul>
</div>